[2014-01-15 15:26] lpugin opened #1 "Fixing the resource path in cmake"
The resources (data) is not install properly. Where should it go?
/usr/local/bin/shared/verovio?

[2014-01-15 22:49] lpugin opened #2 "Replace tinyxml by pugixml in iomusicxml"

[2014-02-03 08:15] lpugin opened #3 "Key, clef and time signature changes in PAE not taken into account"
We need to double check if the problem is when parsing or when displaying.

[2014-02-03 08:18] lpugin opened #4 "Grace notes beamed with main notes"
Ex: '4qq8DDrE
Grace notes should be beamed separately and only when specified explicitely
'4qq8{DD}rE
'4qq8DDrE

[2014-02-03 08:21] lpugin opened #5 "PAE -4"
Typing -4 (instead of 4-) causes weird results

[2014-02-03 08:26] lpugin opened #6 "Tuplet bracket not placed properly"
The bracket is misplaced with tuplet requiring brackets (unbeamed)

[2014-02-03 12:25] #3 closed, assigned to xhero

[2014-02-03 12:34] lpugin opened #7 "Measure rests repeated with i do not work"
=5/i/i/

[2014-02-03 12:36] lpugin opened #8 "CSS for printing"
Ideally we should print only the SVG div

[2014-02-03 12:39] lpugin opened #9 "Read <chord> and minimal drawing"
We need at least to read chord element and the notes (or only one note); ideally we should also draw them, even if do not want to support appropriate note head and alteration placement at this stage

[2014-02-03 14:14] #7 closed, assigned to xhero

[2014-02-03 14:54] xhero opened #10 "PAE Tuplets show only 1 as number"

[2014-02-03 14:55] #5 closed, assigned to xhero

[2014-02-03 15:20] #10 closed, assigned to nobody

[2014-02-04 07:46] lpugin opened #11 "Double sharp showing 16th type for key sig"
We should look what we have for double sharp in early notation in the Leipzig font. If none, then I would suggest to display the correct double sharp in CMN and keep the keysig one for early notation.

[2014-02-04 07:52] lpugin opened #12 "Reading accid elements within notes as attribute"
We sometimes have <accid> within notes for encoding accidentals. Because for now we do not take into account any additional information that this scheme can carry, we should just read <accid> within <note> as @accid. So:

Add a ReadAccidAsAttr that will be called from ReadNote if the note has a child accid element and put their content into the note object.

[2014-02-04 07:55] lpugin opened #13 "Tie do not show up in PAE"
The + sign is supposed to tie notes. To tie notes in verovio, you need to

note1->SetTieAttrInitial();
note2->SetTieAttrTerminal( note1 );

That's it!

[2014-02-04 07:59] lpugin opened #14 "Read nested beam"
Nested beams (e.g. with grace notes) currently crashes (assert) when importing MEI

The reason is that we have only one single beam pointer for the current beam being read. We need to change the to a stack and push and pos beam pointers. Two should be the limit for now? (assert)

[2014-02-04 10:28] #13 closed, assigned to xhero

[2014-02-04 12:35] #4 closed, assigned to xhero

[2014-02-04 13:42] #11 closed, assigned to xhero

[2014-02-04 21:01] lpugin opened #15 "Log with emscripten"
Everything looks good. I am just a bit skeptical with the _persistent_log_string. Actually, we could use the CString we have in the ic. The only thing we need it to add in ic a method GetLogString that would be defined only with EMSCRIPTEN (like SetOptions) and that would return the array concatenated into a string:

Then we need only to do:

const char *vrvInterfaceController_getLog(InterfaceCont

[2014-02-11 14:44] #15 closed, assigned to xhero

[2014-02-11 14:45] lpugin opened #16 "g-2 clef in PAE should be G-2 with octava"
See http://www.iaml.info/en/activities/projects/plain_and_easy_code#Clef

[2014-02-24 09:50] #16 closed, assigned to xhero

[2014-02-24 10:02] xhero opened #17 "Key signature change non carried in new lines"
a $ key signature change overlaps with the old one in new lines.
![schermata 02-2456713 alle 11 01 50](https://f.cloud.github.com/assets/1691778/2244188/b70d69e2-9d3a-11e3-93f5-c8bb7c38eb74.png)

[2014-03-07 12:31] lpugin opened #18 "Making format option name consitant"
Currently we have --format for the C++ version and inputFormat for the JS version

[2014-03-07 12:32] lpugin opened #19 "Fix adjustPageHeight"
the adjustPageHeight option crop to much at the bottom. Border needs to be taken into account

[2014-03-07 12:34] lpugin opened #20 "Light version very slow on Firefox"
The light version (non ASM) is very slow on Firefox, but apparently only with the PAE (and not MEI). Memory management should be checked?

[2014-03-10 13:59] lpugin opened #21 "Repeat sign in barlines not showing"
:// or ://: or //: not parsed.

[2014-03-24 13:14] #1 closed, assigned to xhero

[2014-03-25 08:44] #21 closed, assigned to xhero

[2014-03-25 12:06] lpugin opened #22 "Fermata should be placed on the top always"

[2014-03-25 13:36] #22 closed, assigned to xhero

[2014-04-11 12:14] lpugin opened #23 "Double bar with repetition (rptstart //:) not parsed/shown properly in PAE"
See http://www.rism-ch.org/manuscripts/00000409003467

[2014-04-16 09:40] lpugin opened #24 "Fermata on rests are not shown"
http://www.rism-ch.org/manuscripts/00000400110500

Incipit 1.23.1
Fermata must also be placed on the top
00000400110500: 1.29.1

[2014-09-05 19:18] lpugin opened #31 "Remove m_cueSize in LayerElement"
Legacy member that needs to be changed to MEI equivalent

[2014-09-10 12:04] rettinghaus opened #32 "clef.dis dosn't effect notes"
@clef.dis and @clef.dis.place should effect the vertical position of the notes.

[2014-09-11 10:04] lpugin opened #33 "Multi measure rest show 0"

[2014-11-08 03:51] craigsapp opened #37 "Slur midpoints"
Slurs should not become tangent to staff lines at their midpoint (i.e., slurs should not have their high or low points touching a staff unless absolutely necessary).

[2014-11-13 00:09] craigsapp opened #38 "Barline padding too small"
Spacing of notes after a barline is too small.  The the padding to the right of a barline should be one "line-space" or two MEI "virtual units".  Currently the padding is 0.5 linespaces or 1 VU.  Perhaps confusion between those units is the cause of the problem?  In any case, the 0.5 line-space/1 VU padding does not look good and is non-standard.  See pp. 42-43 of Beyond Bars for more details and

[2014-11-13 09:29] ghost opened #39 "Standard input"
The command-line version of verovio should (must) accept standard input and be able to write to standard output.  This is necessary in order to avoid the need for temporary files.

This could be done in several ways.  Here is an example possibility for standard input/output processing, using the most common convention for standard input/output behavior:
     `cat file.xml | verovio -f mei | less`

[2014-11-13 09:50] craigsapp opened #40 "Stem lengths, Ledger line widths, stem/notehead connections"
The following example has three problems.  They are in order of severity:

1. The stems which would otherwise end below the middle line of the staff must be extended to touch the middle line.  No exceptions, and it is an extreme violation of notational conventions to not do so.
2. The ledger lines should have symmetric extensions on either side of the notehead.  In the following example, the exten

[2014-11-13 10:24] #39 closed, assigned to nobody

[2014-11-13 16:42] josquin-research-project opened #43 ".gitignore"
It would be handy to create a file called .gitignore in the base directory which contains this content:

[code]

This will suppress trying to archive these files/directories with git, and you won't have to ignore them or delete them before committing.

[2014-11-13 17:09] craigsapp opened #44 "stripping verovio command"
When compiling the verovio command-line program, the executable contains debugging information which will not be needed in a production setting.  To remove this content from the executable, there are two possibilities:

1. Run the strip command on the file (http://en.wikipedia.org/wiki/Strip_(Unix)): ```strip verovio```
2. Add the -s option if using gcc

For example, the verovio executable is 4.8

[2014-11-13 23:35] craigsapp opened #45 "Sample page critique"
You know I am going to do it: here is a critique of the main sample page of music on the verivio website/github README.md.  The example was marked up in the image below with typesetting errors in red.  The green numbers refer to the list numbers below.  Considering that this is the first image that people see on the website and github repository, it would be useful to fix the problems from a publi

[2014-11-17 13:34] ahankinson opened #46 "Distance between Key Signature and Accidental is too small"
medium violation: the distance between the key signature and the accidental is too small. In this case the distance is important because the B-sharp would be the next sharp in the key signature. Behind Bars (p. 42) recommends 1.5 line-spaces (3 MEI VUs) to separate the key signature from the accidental in this case.

[2014-11-17 13:35] ahankinson opened #47 "Stems of notes on the middle line should go downwards as a default"
medium-high violation: stems of notes on the middle line should go downwards as a default. Stems can go up for vocal repertories where the stem may collide with lyrics, or in instrumental music to keep the pattern of stems consistent (such as B4/C5 notes alternating). Behind Bars p. 14 top of page for discussion of this rule. Of course, if the input data has stems-up for such case (perhaps because

[2014-11-17 13:35] ahankinson opened #48 "Whole rests are one line too low"
high violation (partially discussed last week): The whole rests are one line two low. It seems logical to attach whole rests to the middle line, but musicians are not rational. Putting a whole rest on that line will cause confusion with a half rest. Second problem is that centered whole rests do not get aligned rhythmically with the 3rd beat in 4/4; instead, they are aligned to the center of the m

[2014-11-17 13:36] ahankinson opened #49 "Slurs max/min should not be tangent to staff lines"
minor violation: slurs max/min should not be tangent to staff lines. This makes them more difficult to see, thus making the sight reader do more work reading the music.

[2014-11-17 13:37] ahankinson opened #50 "Beam placement needs an overhaul"
medium-high violation: Beam placement in verovio will need a major overhaul sometime. I highlighted the two main bad ones on the page in the first measure of the 1st violin and viola parts. Tom Brodhead has the best implementation of automatic beam placement as a plugin program for SCORE. See the sample SCORE generated equivalent further below for how they were placed using his program. He impleme

[2014-11-18 06:40] #45 closed, assigned to nobody

[2014-11-18 06:41] #37 closed, assigned to nobody

[2014-11-18 06:42] #32 closed, assigned to nobody

[2014-11-18 06:42] #20 closed, assigned to xhero

[2014-11-18 06:43] #17 closed, assigned to nobody

[2014-11-18 06:43] #12 closed, assigned to xhero

[2014-11-18 06:43] #2 closed, assigned to xhero

[2014-11-18 06:44] #14 closed, assigned to xhero

[2014-11-18 06:45] #18 closed, assigned to lpugin

[2014-11-18 06:46] #19 closed, assigned to lpugin

[2014-11-24 08:27] lpugin opened #51 "Bug in key signatures"
PAE import shows key sig on wrong octave

[2014-12-03 14:09] #51 closed, assigned to lpugin

[2014-12-03 14:09] #33 closed, assigned to lpugin

[2014-12-03 14:10] #23 closed, assigned to xhero

[2014-12-08 10:33] lpugin opened #52 "The whole rests not aligned rhythmically"
The whole rests do not get aligned rhythmically with the 3rd beat in 4/4; instead, they are aligned to the center of the measure independent of horizontal rhythmic spacing. The first measure on a staff would use the starting position of the first beat in the measure rather than the system barline to the left of the clef. See Behind Bars p. 159 for centering rule, and bottom of 34 for staff line to

[2014-12-08 10:33] #48 closed, assigned to nobody

[2014-12-20 08:54] kepper opened #57 "preserve @xml:id for <accid>"
While the @xml:id of notes etc. are preserved in the resulting SVG, for svg:g.accid a new id is generated. Should be the same as on the element (even though one has to be generated for @accid…)

[2014-12-20 08:56] kepper opened #58 "beams should have a class"
the actual beams (not the grouping svg:g) should have a class attribute that allows to address them later on. Could be even "beam", since the group is svg:g.beam, and the beams are svg:polygon, so they can be distinguished already.

[2014-12-20 09:05] kepper opened #59 "support for mei:supplied etc."
While mei:choice should not be handled by Verovio, it would be great if it could support elements like mei:supplied, mei:sic, mei:corr, mei:add or mei:del. The kind of support I'd be interested in is just to add an additional class to all the contained elements: g.accid.supplied, g.clef.corr etc. Another option would be to put the contents in a g.supplied which could share the @xml:id of the mei:s

[2014-12-22 20:24] ahwitz opened #60 "Low notes cause text to overlap elements on staff below"
![screen shot 2014-12-22 at 3 15 08 pm](https://cloud.githubusercontent.com/assets/3514397/5530415/78adc5c0-89ed-11e4-9e3d-3ee3045dda25.png)

The low treble F on the second staff down causes the text to be placed in a position where it could overlap elements on the third staff down.

Bug found using the Apgar reading in http://digitalduchemin.org/mei/DC1220.xml. Requires https://github.com/DDMAL/v

[2014-12-23 19:44] ahwitz opened #61 "Measures empty in all staves of a system do not have default width"
![screen shot 2014-12-23 at 2 18 35 pm](https://cloud.githubusercontent.com/assets/3514397/5542002/b57dff30-8aae-11e4-9ffd-016951e24f32.png)

MEI file from image is http://duchemin-dev.haverford.edu/mei/DC1204.xml.

[2014-12-27 11:39] lpugin opened #62 "Commit in SVGDeviceContext unclear"
@ahwitz : does this do anything (up to line 146) ?

https://github.com/DDMAL/verovio/blob/develop/src/svgdevicecontext.cpp#L140

[2015-01-03 20:25] lpugin opened #65 "Generate AttComparison classes from libmei"
We should generate a comparison class for each attribute following this model using the verovio version of libmei
https://github.com/rism-ch/verovio/blob/master/include/vrv/att_comparison.h
https://github.com/rism-ch/libmei

The classes can be placed in the existing files (e.g. atts_shared.*). We can have everything in the header as in the example, or splited between header and implementation.

[2015-01-03 20:31] ahankinson commented on #65
Is this something that could go into libmei core?

[2015-01-03 20:41] lpugin commented on #65
Yes, this could be good. The modified version has an additional output language option for Verovio (cplusplus_vrv) activated with -l. I think there is also one additional option for the output directory, but otherwise there is no modification. It should be easy to integrate.

[2015-01-03 20:55] lpugin commented on #65
The generation of the code is driven by a configuration file that can override the type for each attribute (if not specified, the type is determined by the schema, usually std:string but also int or double).
https://github.com/rism-ch/libmei/blob/master/tools/includes/vrv/config.yml

In the default section, for each type we can define the default value and converters for reading and writing. These

[2015-01-05 21:20] #62 closed

[2015-01-05 21:22] lpugin commented on #58
Fixed

[2015-01-05 21:22] #58 closed

[2015-01-06 10:37] lpugin opened #67 "Implementing missing methods in MeiOutput"
Methods for writing editorial elements have to be implemented.

[2015-01-06 19:21] #60 closed

[2015-01-06 20:00] ahankinson commented on #65
I'm looking at this and not sure I understand what is going on. As far as I understand, you're using the `n` attribute to check if two elements are equal?

If this is the case, why not just override `==` in `MeiElement` to provide a direct comparison by iterating through the `MeiAttribute` objects?

[2015-01-06 20:38] lpugin commented on #65
I see. There might be a misunderstanding here. The AttComparison class is
designed for Verovio, so I am now realizing that when you asked if this
should go to the LibMEI core, I was thinking about the Verovio output (in
general) and not specifically to the AttComparison class.

The AttComparison class in an abstract class with a virtual operator() that
allow to check a property of an object when p

[2015-01-07 18:49] lpugin commented on #65
PS see this commit for how it is used
https://github.com/rism-ch/verovio/commit/223c7c3085e27bab4aaa6ffe3f9a24cc48abbda1

[2015-01-08 13:56] lpugin opened #69 "Change SVG style attribute to separate attributes"
Instead of having one single style attribute in SVG /g, we could have separate attribute for each parameter (stroke, stroke-opacity, fill, etc). This would make the building of the SVG tree cleaner.

Alternatively, we could have a CSS, but this can be left for a later enhancement.

[2015-01-09 14:43] #40 closed

[2015-01-09 14:45] lpugin commented on #47
Can be improved for notes shorter than 4th

[2015-01-09 14:45] #47 closed

[2015-01-09 14:45] lpugin commented on #46
Fixed

[2015-01-09 14:45] #46 closed

[2015-01-09 14:46] lpugin commented on #38
Fixed

[2015-01-09 14:46] #38 closed

[2015-01-21 14:44] rettinghaus commented on #52
I guess all full bar rests should be aligned to the center of the measure. So for example Rests longer than a whole note. (See first bars of Guami_Canzona_24.mei)

[2015-01-21 14:51] rettinghaus opened #70 "Double whole rests engraved wrong"
Brevis rests are engraved as Longa rests. And these are one line too high.
See Guami_Canzona_24.mei

[2015-01-21 16:03] rettinghaus opened #71 "staffGrp: "bracket" or "brace" should assume "line""
For a single group of staves with @symbol="bracket" or @symbol="brace" verovio should also assume a "line" as it isn't necessary to have nested staffGrp.
(See for example Ahle_Jesu_meines_Herzens_Freud.mei)

Or would that be an MEI issue?

[2015-01-21 16:59] craigsapp commented on #52
The JRP style is to use centered breve (double whole note) rests for full-measure rests in music in 2/1 or 3/1:
     http://josquin.stanford.edu/cgi-bin/jrp?a=notationEditText&f=Ock1007
(notice some sections in 2/1 and others in 3/1; probably would use centered long rest in 4/1 music, but can't remember if there is any).

The centering is done automatically, but it would be useful to be able to ch

[2015-01-22 14:55] lpugin commented on #52
I agree the rests should be centered by default.

Regarding Craig's examples, it seems to be that the first one could be encoded in a measure way, with the exception of the longae that would need to be split into breve. The second one would be easier to encoded in an unmeasured way with &lt;barLine&gt;. In this case, rests would be aligned with their beat position. Does this make sense?

[2015-01-28 08:31] lpugin commented on #71
This is unclear in MEI and will be clarified in the next MEI release. By default, bracket or brace should indeed assume a line.

[2015-01-31 09:17] #24 closed

[2015-01-31 09:18] #9 closed

[2015-01-31 09:19] lpugin commented on #50
Improved in version 0.9.6, closing for now

[2015-01-31 09:19] #50 closed

[2015-01-31 09:20] lpugin commented on #6
Tuplet figure is mis-place when stem direction is up

[2015-01-31 09:22] lpugin commented on #44
Considering the size of the binary, I'll close it for now

[2015-01-31 09:22] #44 closed

[2015-01-31 09:23] lpugin commented on #8
Not relevant (relates to the use in gh-pages)

[2015-01-31 09:23] #8 closed

[2015-01-31 09:40] lpugin commented on #70
Fixed in master

[2015-01-31 09:40] #70 closed

[2015-02-08 11:46] lpugin commented on #67
Fixed in commit 6dcac964835d9ffc3969c9cdbf531f58824234b6

[2015-02-08 11:46] #67 closed

[2015-02-09 15:27] lpugin opened #73 "Include the VerovioText in the SVG only when necessary"

[2015-04-01 09:09] lpugin commented on #71
Fixed in commit a711d9e6dcc6e7e3d73a7c50eac365aa4d924110
Drawing thick line (meaning of attribute symbol="line" for the next release of MEI) needs to be implemented

[2015-04-01 09:09] #71 closed

[2015-04-08 11:34] bwbohl opened #79 "rendering problem Firefox"
If rendering a snippet to a div in Firefox all notation symbols on the staff miss a portion at the top

![image](https://cloud.githubusercontent.com/assets/2430401/7044425/9b738b12-ddf3-11e4-90ad-82feca42e974.png)

whereas in chrome everthing looks perfect

![image](https://cloud.githubusercontent.com/assets/2430401/7044436/b6bfccbe-ddf3-11e4-8a2b-e2d17c4d49ca.png)

Is there a way to debug this or

[2015-04-08 11:42] bwbohl commented on #79
In the case of noteheads this seems somehow related to the 'height' and 'y' attributes on the contained 'use' element; increasing 'height' results in a full notehead being rendered, using 'y' it can be adjusted to the correct position on the staff

[2015-04-08 12:06] bwbohl commented on #79
It seems the problem arises from a css rule that bootstrap brings along:

[code]

[2015-04-08 19:34] lpugin commented on #79
Solved in 30min, this is good! Thanks. If you can think where to document
it, thus would be great.
On Apr 8, 2015 2:06 PM, "Benjamin W. Bohl" <notifications@github.com> wrote:

[2015-04-13 14:03] lpugin commented on #61
Fixed with commit 68f7b1c

[2015-04-13 14:03] #61 closed

[2015-04-13 14:03] #79 closed

[2015-04-16 08:21] lpugin commented on #73
Done in commit 319784959acf8443a213e60d0fa08fe4d84436ce

[2015-04-16 08:21] #73 closed

[2015-04-16 08:45] lpugin commented on #43
Done in commit 33a8320

[2015-04-16 08:45] #43 closed

[2015-04-21 15:44] rettinghaus opened #80 "Clarification of license for Leipzig font"
With the whole project the Leipzig Font comes under a GPL License. But if a GPL font is embedded in a document, that document must be wholly licensed under the GPL too. Could be problematic in some cases I guess. Using SIL Open Font License may solve this.

See: http://yro.slashdot.org/article.pl?sid=05/04/17/2118203&tid=117

[2015-04-22 11:25] donbyrd commented on #80
I've run into this "viral" aspect of the GPL before. I agree it can be problematic; if there's a reasonable alternative, it's better to avoid the GPL.

--Don

On Apr 21, 2015, at 11:44 AM, Klaus Rettinghaus <notifications@github.com>
 wrote:

---
Donald Byrd
Woodrow Wilson Indiana Teaching Fellow
Adjunct Associate Professor of Informatics
Visiting Scientist, Research Technologies
Indiana Universit

[2015-04-22 12:02] lpugin commented on #80
Good point, I did not think about it. It seems that we could add and exception to the license, I think that would fix it.
https://www.gnu.org/licenses/gpl-faq.html#FontException

I would also be fine to have the font under the SIL Open Font Licence, but I am not sure how to specify it. Can we have just the font under another license?

Considering the general discussion about the license, one possi

[2015-04-22 12:25] ahankinson commented on #80
The GPL for JavaScript libraries, or even compiled libraries, is a pretty sticky situation on the whole. Embedding software in a web page can be construed as "linking," and there is no end of controversy over whether downloading and running JavaScript on the client is "distributing."

Personally, I avoid the GPL at all times. However, if you want something that's like the GPL but avoids the contro

[2015-04-22 14:08] rettinghaus commented on #80
As Gootville and Bravura comes under OFL this should be stated somehow anyway. At least by putting a readme in the fonts folder.
Putting just the font under OFL should be going well:
http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=ofl-faq_web#68092c0f

[2015-04-22 15:28] lpugin commented on #80
I can't see any problem in having Leipzig under OFL. If you have a readme sample file to be added to the fonts folder, please just make a pull request.

[2015-04-27 09:17] rettinghaus opened #82 "@meter.sym should ignore @meter.count and @meter.unit by default"
Verovio engraves a doubled time signature in cases like
<scoreDef meter.count="2" meter.unit="2" meter.sym="cut"/>

[2015-04-27 09:31] lpugin commented on #82
I now there is something unclear there. Do you have a concrete example?

[2015-04-27 09:39] rettinghaus commented on #82
Like in the Example Ahle_Jesu_meines_Herzens_Freud.mei
![ahle](https://cloud.githubusercontent.com/assets/7693447/7345110/01ae77d8-ecd2-11e4-97a8-a5783dbd014f.png)

[2015-04-27 09:42] rettinghaus opened #83 "Add padding between lyrics"
Multiple lines of lyrics are a bit scrambled.
See issue #82

[2015-04-27 09:49] rettinghaus opened #84 "Key signature should be nearer to clef"
![clefkey](https://cloud.githubusercontent.com/assets/7693447/7345272/6063566c-ecd3-11e4-840e-64fe31e10cec.png)

[2015-04-27 09:54] lpugin commented on #82
Fixed with commit e01c377

[2015-04-27 09:54] #82 closed

[2015-05-01 12:17] #80 closed

[2015-05-07 13:04] ahankinson opened #87 "Single Eighth Notes with beams display incorrectly"
This is related to music-encoding/sibmei#13, however, I think it's also a Verovio bug.

A single eighth note with a beam is being displayed in Verovio as a quarter note.

Verovio displays:

![vrvbeams](https://cloud.githubusercontent.com/assets/163183/7515781/f77973c6-f497-11e4-854d-49a578c01095.png)

For the input:

[code]

[2015-05-07 13:27] lpugin commented on #87
Yes, I suspect it is. However, shouldn't a beam with one single not be forbidden in the first place?

[2015-05-07 13:28] ahankinson commented on #87
I'm working on that part... ;)

[2015-05-07 13:32] lpugin opened #88 "Add score based MEI output option with the entire content"
MeiOutput::ExportFile should take into account the m_scoreBasedMei option also with -1 (all pages).

Also, in order to avoid to have to pass a -1 parameter for pages for getting all the pages, we could have another Toolkit::GetScoreBaseMEI( int page = -1 ) for getting the score based MEI. It could then call Toolkit::GetMEI internally.

[2015-05-07 13:45] lpugin commented on #87
I was thinking in MEI itself. At least with a schematron rule?

[2015-05-07 14:04] ahwitz opened #89 "Chord dragging triggers assertion in Emscripten"
In a chord of 3 or more notes, dragging the middle note below or above an extreme note causes an out-of-bonds assertion for accidSpace to be triggered in View::CalculateAccidX. This is likely because Chord::resetAccidSpace uses m_accidList.front() and back() to define the size of m_accidSpace, and those correspond to notes pushed in order from Chord->GetList in ResetAccidList.

Chord::resetAccidLi

[2015-05-07 15:04] pe-ro commented on #87
There already is a schematron rule that attempts to catch this kind of error:

<constraintSpec ident="When_not_copyof_beam_content" scheme="isoschematron">
  <constraint>
    <sch:rule context="mei:beam[not(@copyof)]">
      <sch:assert test="count(descendant::*[local-name()='note' or local-name()='rest' or
              local-name()='chord' or local-name()='space']) &gt; 1">A beam without a copyo

[2015-05-07 15:19] lpugin commented on #87
Great. I suspect this one would also pass?

<beam>
  <chord>
    <note/>
    <note/>
  </chord>
</beam>

As far as Verovio is concerned, I would be more in favor of emitting a
warning than rendering it properly. Even though this would mean
re-implementing the schmatron rule. And as we can see it is not trivial, so
let's do it only in one place (schematron). We have enough to do with
correct encodi

[2015-05-07 15:34] pe-ro commented on #87
Yep, that would pass too.  :-(

Here's my first attempt at re-writing the rule:

<sch:assert
  test="descendant::*[local-name()='beatRpt' or local-name()='bTrem' or local-name()='chord' or
  local-name()='halfmRpt' or local-name()='note' or local-name()='rest' or local-name()='space' or local-name()='tuplet']
  [following-sibling::*[local-name()='beatRpt' or local-name()='bTrem' or local-name()='c

[2015-05-20 16:06] minamouse opened #91 "Articulation isn't supported"
The articulation attribute for notes doesn't seem to be supported yet.

[2015-05-20 16:07] minamouse opened #92 "Slurs don't seem to be working with tstamp."
Slurs seem to only accept the startid and endid attributes but not the tstamp attribute.

[2015-05-21 15:40] mborsodi opened #94 "Bug with tuplets"
In tuplet groups that have notes with individual stems (no beams), the tuplet (bracket and number) don't show up sometimes. However, it's only in cases when there are more or equal downward stems than upward stems in the tuplet group ***and*** at least one of each (so groups of all downward or all upward stems are fine).
Here's an example of some different cases, of all single-stem notes.

![scree

[2015-05-21 18:40] minamouse opened #95 "note-head placement"
When a chord has two of the same notes in it, the note heads should be next to each other, on either side of the stem, but in verovio, it just appears as one note.
For example, this
![screen shot 2015-05-21 at 2 14 26 pm](https://cloud.githubusercontent.com/assets/11529868/7755869/598688aa-ffc5-11e4-87c0-86806d1ac33e.png)

looks like this in verovio:
![screen shot 2015-05-21 at 2 14 35 pm](https:/

[2015-05-21 19:09] minamouse opened #96 "fix inter-layer alignment"
There are still problems with the layout with multiple layers.
Here, for example, many of the accidentals overlap, or are generally placed too close to each other.
![screen shot 2015-05-21 at 2 43 01 pm](https://cloud.githubusercontent.com/assets/11529868/7756417/1d742526-ffc9-11e4-80aa-66b170cc3219.png)
instead of:
![screen shot 2015-05-21 at 2 51 12 pm](https://cloud.githubusercontent.com/assets

[2015-05-21 20:29] mborsodi commented on #96
Also, when layers cross, the notes need to be farther apart to differentiate
![screen shot 2015-05-21 at 4 28 17 pm](https://cloud.githubusercontent.com/assets/11529868/7758268/6d9785ea-ffd6-11e4-951c-75015cbe337d.png)

[2015-05-25 18:59] mborsodi opened #97 "beams and stem directions in multiple layers"
In 2 layers, when one of the parts has notes which are connected by a beam, the stem direction is sometimes wrong. What happens is that, instead of defaulting to the correct layer direction, it defaults to the stem direction that it would have if it weren't in a layer.
For example:
![screen shot 2015-05-25 at 11 47 19 am](https://cloud.githubusercontent.com/assets/11529868/7801090/54cb471c-02ed-11

[2015-05-25 19:04] minamouse opened #98 "across staff stem direction"
Another thing that seems to not be supported is the notation of having different stem directions across staves. For example, when a beamed group of notes has a note on another staff, all the stems go in the same direction, which means the beam always ends up above or below the notes. This means that they can't be placed in between the staves like this:
![screen shot 2015-05-25 at 3 02 12 pm](https

[2015-05-25 19:07] minamouse opened #99 "tuplet ratios"
The option to have a ratio on your tuplet isn't supported yet. Instead it just defaults to the single number

[2015-05-26 07:30] lpugin opened #100 "In PAE, a fermata is displayed when the parenthesis is open and with only one note"
'4(8C shows a fermata because there is only one note (yet). It would probably be better just to ignore it

[2015-05-26 13:12] maximumspatium opened #101 "Using Verovio in an online notation editor"
Hello crews,

first of all, thank you for bring to us such an amazing software!

I'm one of the developers of Audiveris - an open-source optical music recognition (OMR) software written in Java. We're currently developing a new version. This led us to rethink the way OMR can be provided. The predecessor of this new version - Audiveris V4 - was designed to operate locally and independently for each

[2015-05-26 17:32] crantila commented on #101
Hi Maximum:

Your project is technically feasible, but nobody knows how to do it yet.

I'm working on a vaguely similar project. Could you email me to discuss it in a less public place? My address is on my GitHub user page. Thanks!

(Also, I noticed that Audiveris is released under the GPLv2, which is incompatible with Verovio's GPLv3+ licence. Just a heads-up).

[2015-05-27 16:42] lpugin commented on #101
Hi Max,

Actually you have spotted the right place in the Toolkit class. the Edit method can be used for modifying any attribute (member) value. However, this is just a proof on concept and there is indeed no implemented editor.

As far as your second question is concerned, yes, it would be possible to specify more information about the elements. This is in fact a question that should eventually b

[2015-05-27 21:04] maximumspatium commented on #101
Thank you very much for your answer! I'll discuss the second question on the MEI mailing list.

Thank you for pointing this out! I've already seen this method in action although I don't fully understand how it actually works.

To my understanding, such an editor should have a way to map mouse coordinates to the ID of a particular score object (if there is an object at the specified position). Havi

[2015-05-28 06:20] lpugin commented on #101
The mouse coordinates are easy to get from the the SVG. Then, the Toolkit class Edit method supports an action "drag" that, for example, converts the coordinates to a pitch/octave. The score object is also easily identify with its svg \<g\> \@id, which always corresponds to the MEI \@xml:id

In the long run, there is indeed the plan to have an editor (hence this proof of concept), but nothing conc

[2015-05-28 13:03] donbyrd commented on #101
I hesitate to get involved in this, but: I'm very interested in such a project, and I think my experience as the main architect of Nightingale plus a fair amount of work on OMR and a little on Verovio makes me a good candidate to help with it. However, thanks to a serious medical condition, I have almost no time at the present, and, statrting in early July, my treatment is likely to take 100% of m

[2015-05-29 07:58] lpugin commented on #101
Thank you for this, Don. You would certainly bring a lot of expertise in this. Hopefully we will have a chance to talk about it at some point.

[2015-05-29 20:25] donbyrd commented on #101
You're welcome, Laurent, and I'd be happy to talk about it any time I can :-) . Actually, saying the health care will take 100% of my time for months is probably an exaggeration; I expect to gradually regain my energy after the first month or so, and should be able to discuss things via phone or email after awhile.

--DAB

On May 29, 2015, at 3:58 AM, Laurent Pugin <notifications@github.com> wrote

[2015-06-02 20:59] minamouse opened #103 "Problem with lyrics"
Files with the `<syl>` element seem to not render. For the page of examples here (http://ddmal.github.io/mei-test-set/vexflow-demos.html), there should be two more rendered examples (`TC.Prokofiev.mei` and `TC.Prokofiev.pref.mei`), but since they both have `<syl>` elements in them, they don't show up. When I remove these things, the rendering works again.

[code]

However, they do seem to work whe

[2015-06-02 21:03] lpugin commented on #103
This is indeed not supported. However different (e.g., multiple?) verses
should work.
On Jun 2, 2015 10:59 PM, "Marina Borsodi-Benson" <notifications@github.com>
wrote:

[2015-06-03 14:51] mborsodi commented on #103
Ah, yes! It does, however, only work when `n` is a number? The file I mentioned above had the verses labelled as `"verse_1"`, which I guess is why it wasn't working.

[2015-06-03 15:18] mborsodi opened #104 "automatic tuplet numbers"
I'm not sure if this is a weird bug, or was done on purpose, but when nothing is specified in a `<tuplet>`, the automatic number that appears over the tuplet is 65535. Everything works fine when you specify the `num` and `numbase` attributes, though.
![screen shot 2015-06-03 at 11 17 37 am](https://cloud.githubusercontent.com/assets/11529868/7963721/26192014-09e2-11e5-803b-3170947d9321.png)

[2015-06-03 16:04] mborsodi opened #105 "key signature changes"
Key signature changes don't work at all if the piece starts in C major.

![screen shot 2015-06-03 at 11 57 42 am](https://cloud.githubusercontent.com/assets/11529868/7964807/c861aeb8-09e7-11e5-9cc2-ef03bae42906.png)

However, if the piece has a key signature at the beginning already, when it changes throughout the piece, verovio just reiterates the original, rather than the new one:

![screen shot

[2015-06-03 19:08] mborsodi opened #106 "Support for endings"
Anything inside an `<ending>` element doesn't show up in verovio:

![screen shot 2015-06-03 at 2 42 14 pm](https://cloud.githubusercontent.com/assets/11529868/7968421/bbe69e02-09fe-11e5-8d25-fb1d5013d4e2.png)

Also, the repeat positioning is not always correct. First, most obviously, is the problem of repeats at the beginning of a system - since it's part of a `<barline>` element, it gets put way

[2015-06-08 11:53] lpugin opened #107 "Acciaccatura (code g) missing a dash"
![image](https://cloud.githubusercontent.com/assets/689412/8034185/a4d8594a-0de5-11e5-8c99-26ac94356fd9.png)

[2015-06-08 11:55] lpugin opened #108 "Appogiatura not showing at the end of the staff (during input)"
![image](https://cloud.githubusercontent.com/assets/689412/8034214/e561157e-0de5-11e5-99bc-387b3ff47d14.png)

[2015-06-08 11:56] lpugin opened #109 "Time signature with one figure showing a 1"
%C-1$xFCGD@3 '4C
![image](https://cloud.githubusercontent.com/assets/689412/8034226/07c2b0e6-0de6-11e5-859a-195742de0208.png)

[2015-06-09 15:13] rigaux opened #110 "Warning: "Elements <scoredef> ignored""
Hello there,

First, many thanks for the great project.

We are moving our MusicXML collection to MEI, and we would like to use Verovio for browser interactions (in the moment all scores are produced with Lilypond).

We are facing several issues, so a bit of help would be welcome. First: we get the following
warning:
[Warning] Elements <scoredef> ignored
[Warning] Elements <scoredef> ignored
[Warn

[2015-06-09 15:20] ahankinson commented on #110
Hi Phillipe,

At first glance you appear to be using a very old version of MEI:

http://couch.db.huma-num.fr/neuma/motetimprime:MI0001/mei.xml <http://couch.db.huma-num.fr/neuma/motetimprime:MI0001/mei.xml>

This is claiming meiversion="2010-05"

Are you using the latest version of the musicxml2mei XSLT?

https://github.com/music-encoding/music-encoding/blob/master/tools/musicxml2mei/musicxml2mei-

[2015-06-09 15:25] rigaux commented on #110
No we don't. Let me fix this. Thanx.

[2015-06-09 15:44] rigaux commented on #110
Hmmm now we get the following error with the XSLT file. We are using saxon9he.

Error at xsl:value-of on line 1790 column 101 of musicxml2mei-3.0.xsl:
  XPST0017 XPath syntax error at char 0 on line 1790 near {.../beats]/attributes/time/bea...}:
    Cannot find a matching 1-argument function named {http://saxon.sf.net/}evaluate().
  Saxon extension functions are not available under Saxon-HE
Error

[2015-06-09 17:39] ahankinson commented on #110
I think certain saxon extensions aren't available under Saxon HE. I believe Oxygen ships with the commercial versions of Saxon PE or EE, so if you have Oxygen you might try it with that.

[2015-06-10 08:45] rigaux commented on #110
OK, we found the version 9 B1 of saxon which includes the necessary extensions. Seems to be much better: we are going to run the conversion again for this collection. More to come probably: many thanks for your help.

[2015-06-10 10:45] lpugin commented on #110
Great! Keep us posted

[2015-06-10 10:48] #110 closed

[2015-06-10 16:14] lpugin commented on #87
I am close it for now. We can re-open it if necessary

[2015-06-10 16:14] #87 closed

[2015-06-10 16:15] lpugin commented on #101
Thanks for bringing the topic. I am closing it since this is not directly an issue.

[2015-06-10 16:15] #101 closed

[2015-06-11 14:44] rklugseder opened #111 "Label Attribut for <staffGrp> is missing"

[2015-06-12 06:31] lpugin opened #112 "KeySig change with naturals not showing up"
%G-2$xFCGD@3/4 =38//$nFCGD@c 1-/4.''E8xC2'B/2B-/1-/2-4.''D8'B

![image](https://cloud.githubusercontent.com/assets/689412/8124575/41bf87fc-10dd-11e5-999e-21d200a41e57.png)

[2015-06-17 20:00] mborsodi opened #113 "problem with using system break"
Using the `<sb/>` element only works correctly if you use it consistently. In cases where it's never used, verovio formats the music itself, but if `<sb/>` is used once (and only once, for example), the verovio relies on it for the rest of the piece.
Here, for example, if you use it after the first bar, it groups the entire rest of the piece together, whereas if you don't use it at all it formats

[2015-06-17 20:12] mborsodi opened #114 "time signature and cut time"
When the mei file has the time signature spelled out, but also a symbol defined, they both show up in the music.
For example in [this file](https://github.com/DDMAL/mei-test-set/blob/develop/complete-examples/MEI/Czerny_op603_6.mei) the score def has `meter.count="4" meter.unit="4" meter.sym="common"`.
In Verovio this then shows up as:
![screen shot 2015-06-17 at 4 11 52 pm](https://cloud.githubus

[2015-06-17 20:26] mborsodi opened #115 "percussion parts not working"
Percussion clefs aren't supported yet, it seems. They show up as this right now:
![screen shot 2015-06-17 at 4 24 26 pm](https://cloud.githubusercontent.com/assets/11529868/8217781/55b3efbc-150d-11e5-8025-3d23722bea82.png)
Staff lines are also not working, though. In this case, one line staves. However, any other number of stave lines (other than 5) don't work.

[2015-06-17 20:35] mborsodi opened #116 "alternate way of encoding key"
Key signature can also be encoded in mei by using `key.accid` and `key.pname` (pname being the tonic note, and accid being the accidental of that note, if any), but this doesn't work in verovio, yet.

[2015-06-17 20:43] mborsodi opened #117 "up and down octaves in clefs"
For moving clefs up or down an octave (`clef.dis="8" clef.dis.place="below"`), it seems to only be supported on treble clef right now. When found on bass clefs it doesn't work and it actually shows up like this:
![screen shot 2015-06-17 at 4 24 26 pm](https://cloud.githubusercontent.com/assets/11529868/8218248/c4385d2c-150f-11e5-980c-4c7fd7d2894c.png)

Also, it's not too common, but other displace

[2015-06-17 20:44] mborsodi commented on #112
I think this is related to issue #105

[2015-06-17 20:56] minamouse opened #118 "beam placement"
There are still a few, small problems with beam placement.
Firstly, sometimes they collide with clefs when there are changes:
![screen shot 2015-06-17 at 4 48 23 pm](https://cloud.githubusercontent.com/assets/11529868/8218511/6583f92e-1511-11e5-8f15-76b8d7f5cb8b.png)

Also, when the first and last note of a beamed group are the same pitch (or in repeated patterns), there shouldn't be a slope in th

[2015-06-17 20:59] mborsodi commented on #118
There's more about this in "Behind bars" page ~22.

[2015-06-17 21:04] rettinghaus commented on #114
This is a copy of #82 and should have been fixed already.

[2015-06-17 21:27] mborsodi opened #119 "numbering vs order"
Right now, it looks like Verovio doesn't take numbers into consideration (like `<staff n="1"/>`).
Can we assume that the mei file will always have the staves, or anything else for that matter, in the right order?
I've already found examples of where this is not the case (like [this one](http://ddmal.github.io/mei-test-set/complete-examples/Bach_BrandenburgConcert_No.4_II.html), where the harpsicho

[2015-06-17 21:34] mborsodi opened #120 "stems in whole note chords"
Basically, when there are chords of whole notes, stems appear:
![screen shot 2015-06-17 at 5 34 04 pm](https://cloud.githubusercontent.com/assets/11529868/8219304/10caf6c0-1517-11e5-8a38-3f00b3835807.png)
although, it doesn't happen if there are 2 notes in different layers.

[2015-06-17 21:41] mborsodi opened #121 "tie placement"
I'm sure this is something that's known, but tie placement still has some problems.
Especially problematic is when two tied notes have different stem directions:
![screen shot 2015-06-17 at 5 38 26 pm](https://cloud.githubusercontent.com/assets/11529868/8219384/acdd350a-1517-11e5-9e45-def65e054a75.png)
Also, ties don't seem to work in chordal situations:
![screen shot 2015-06-17 at 5 40 57 pm](htt

[2015-06-18 07:15] lpugin commented on #119
It does. With your example the content of the staves is properly switched (10 and 9). However, there is indeed a problem with the brace because in this file the order in the scoreDef does not correspond to the order of the staves. This does not make sense to me. It works if you change the scoreDef with:

[code]

I am not sure what we should expect to see if the order of the staves differs from the

[2015-06-18 07:17] lpugin commented on #114
Indeed. This is still in the develop branch

[2015-06-18 07:17] #114 closed

[2015-06-18 07:20] lpugin commented on #113
Yes, this is the expected behavior. What else would you expect?

[2015-06-18 11:39] ahankinson commented on #113
I don't think I would expect all the notes on top of each other! :)

[2015-06-18 12:35] mborsodi commented on #119
Wouldn't you want them to stay in the order that they are numbered in, regardless of what order they're in in the file? Or is there a case where the staves can change order?

[2015-06-18 14:32] mborsodi opened #122 "Support for mdiv selection"
In some pieces, like the [Beethoven](https://github.com/DDMAL/mei-test-set/blob/develop/complete-examples/MEI/Beethoven_op.18.mei), there multiple movements, but Verovio only displays the [first one](http://ddmal.github.io/mei-test-set/complete-examples/Beethoven_op.18.html).

[2015-06-18 14:48] minamouse opened #123 "beam span not supported"
`<beamSpan/>` doesn't seem to be supported yet. Especially in cases where beams need to go over barlines, this is useful.

[2015-06-18 21:37] lpugin commented on #113
Obviously. But What would you expect in terms of system breaks? Would you expect Verovio to add some system breaks when the staff is full plus make system breaks when there is one in the encoding? Then can end up with a staff with, let's say six measures, and then a staff with one single measure spread out because Verovio added a system break before the measure and there is one /sb after it. This

[2015-06-18 21:41] ahankinson commented on #113
Does verovio know when it reaches the edge of a page? I always assumed that it inserts an implicit system break, unless there is an explicit one. The example of there being six measures and then one seems like the desired behaviour.

[2015-06-19 12:53] lpugin commented on #113
Yes, it does. We could make it as you describe, but am not convinced it will be very useful. Inconsistent /sb make sense with a specific layout algorithm and a particular page size. If you change any of these it is quite likely that you will end up with unexpected results. Example: you encode a piece and the notation software puts 8 measures in the first staff. You add an explicit /sb after measur

[2015-06-19 14:42] mborsodi opened #124 "grace note alignment in layers"
In two parts, they align well rhythmically:
![screen shot 2015-06-19 at 10 25 54 am](https://cloud.githubusercontent.com/assets/11529868/8255375/957dce90-166d-11e5-8bf1-31a227012608.png)
but in layers:
![screen shot 2015-06-19 at 10 25 45 am](https://cloud.githubusercontent.com/assets/11529868/8255382/9f48ddc0-166d-11e5-947e-51c8c0ac6991.png)

[2015-06-20 21:50] lpugin commented on #119
If I understand correctly, MEI assumes the order of the scoreDef to be the expected one. It does not have to be the numbered order. Verovio's limitation is that the order of the staves has to correspond. However, they do not have to be all there. So we can have a scoreDef with staves 1, 2, 3, 4, 6, and 5 and then have only staves 6 and 5. This should work, I think.

[2015-06-22 13:47] mborsodi commented on #119
Oh ok, so we basically have to assume that the encoding is correct, and if not, that's not Verovio's problem.
When it comes to excluding staves, actually, what Verovio does is somewhat problematic, because it changes staves in the middle of a system, without indicating it. In the excerpt below, measure 5 is staves 2 & 3, and measure 6 is staves 1, 2 & 3.
![screen shot 2015-06-22 at 9 30 50 am](htt

[2015-06-22 19:04] lpugin commented on #119
MEI expects to have a scoreDef in between measure 5 and measure 6. I'll close the issue for now. OK?

[2015-06-22 19:05] #113 closed

[2015-06-22 19:11] mborsodi commented on #119
Oh, ok. Thanks

[2015-06-22 19:27] lpugin commented on #119
Thanks for reporting this, which needs clarification in MEI.

[2015-06-22 19:27] #119 closed

[2015-06-22 19:29] #89 closed

[2015-06-22 19:32] #100 closed

[2015-06-24 08:37] rklugseder opened #125 "Missing repetitions: <bTrem> and <fTrem>"

[2015-06-24 08:39] rklugseder opened #126 "Missing repetitions: <bRpt>, <mRpt> etc."

[2015-07-13 09:20] ahankinson commented on #104
@mborsodi could you provide a link to the MEI test file?

[2015-07-13 09:33] craigsapp commented on #104
65535 is a recasting of a -1 as a signed short int into a signed int.  So
somewhere in the code, -1 is being used to indicate lack of a tuplet, then
later that number is changed to a signed number, and since it is positive
it is printed...

On 13 July 2015 at 02:20, Andrew Hankinson <notifications@github.com> wrote:

[2015-07-13 10:00] lpugin commented on #104
Correct. This is why I picked this one because it is an easy fix ;-)

On Mon, Jul 13, 2015 at 11:33 AM, Craig Stuart Sapp <
notifications@github.com> wrote:

[2015-07-13 15:03] mborsodi commented on #104
I think I fixed the example above (for the jMEI2Midi project), but here's another one:
[gh-pages](http://ddmal.github.io/mei-test-set/complete-examples/Parker-Gillespie_ShawNuff.html)
[mei file](https://github.com/DDMAL/mei-test-set/blob/develop/complete-examples/Parker-Gillespie_ShawNuff.html)

[2015-07-14 10:56] kepper opened #127 "ignore nested beams"
when an MEI file uses nested beams (which is usually incorrect), ignore the inner beam

[2015-07-14 10:57] kepper opened #128 "consider @staff when calculating layers"
when a note is moved to an adjacent staff using the staff attribute, that staff doesn't consider the additional "layer" when calculating stem directions

[2015-07-14 10:59] lpugin commented on #127
It would not be difficult to have it handled properly. But since this is incorrect, do we really want this? Or should we make this valid?

[2015-07-14 11:11] lpugin commented on #128
Do you have an example?

[2015-07-14 13:57] kepper commented on #127
it neither is nor should be valid; however, it could be useful if Verovio would break nicely and just ignore the inner beam (even though I wouldn't have spotted an encoding error then…)

[2015-07-14 14:00] kepper commented on #128
![screenshot](https://cloud.githubusercontent.com/assets/2078563/8674894/1a4170aa-2a41-11e5-81f2-f95c8f930b24.png)
There are some of these notes in the existing beethoven prototype, included in variant g on page 17. Look for note@xml:id="e5bd15640-87a7-4fa7-a153-faf09112e727" in the encoding, for instance.

[2015-07-14 14:24] lpugin commented on #128
This should be fixed once the @stem.dir for notes within beam is taken into
account

On Tue, Jul 14, 2015 at 4:00 PM, kepper <notifications@github.com> wrote:

[2015-07-14 14:25] lpugin commented on #127
It should indeed be more polite.

[2015-07-15 08:00] lpugin commented on #57
This is done in release 0.9.8. However, this needs testing for cases with editorial markup within ```<chords>```.

[2015-07-15 08:00] #57 closed

[2015-07-15 11:35] lpugin opened #129 "accid elements in notes yield extra spacing after the note"

[2015-07-15 11:48] lpugin commented on #129
Fixed with 0f84337ad16b17371bd30d04ba0a0622c3336832

[2015-07-15 11:48] #129 closed

[2015-07-15 12:25] lpugin commented on #128
Fixed for now with stem.dir?

[2015-07-15 12:33] kepper commented on #128
yes, stem.dir seems to solve the problem. However, I wonder if verovio should handle the situation in the same way when no stem.dirs are provided. Could be done quite easily with a preprocessing xslt, but this can be discussed when the ticket gets reopened…

[2015-07-15 12:33] #128 closed

[2015-07-16 21:25] lpugin commented on #83
Fix with commit d0a4c2cb206af13141e05cb3f5acda21996f783e

[2015-07-16 21:25] #83 closed

[2015-07-16 21:41] lpugin commented on #104
It won't show the cast unsigned short anymore, so this is fixed. Result will still be unpredictable with only num or numbase attributes. Closing for now

[2015-07-16 21:41] #104 closed

[2015-07-17 07:50] lpugin commented on #120
Fixed with b6aae1ac16cf49b258b20c4684598dd9d45f5d77

[2015-07-17 07:50] #120 closed

[2015-07-20 14:42] sonovice opened #130 "Not able to compile python version under Windows"
I am not able to compile the python version under Windows.
The error is pretty short: `../src/iopae.cpp:36:19: fatal error: regex.h: No such file or directory`

The regular regex libs are usually heavily POSIX related and thus not available for Windows. Is there any way to make verovio compilable under Windows?

I am using MinGW32.

[2015-07-20 16:31] lpugin commented on #130
Are you interested in using Plain and Easy import? We could make it excluded with a preprocessor option

[2015-07-20 16:44] craigsapp commented on #130
In the long term you can implement regular expressions according to the C++
2011 standard which should be cross platform:
     https://solarianprogrammer.com/2011/10/12/cpp-11-regex-tutorial

Currently available in clang, and is available in GCC v 4.9 and higher (but
note that GCC 4.8 is the most common linux compiler at the moment, so still
difficult to work with).

Note that C++ 2011 regular exp

[2015-07-20 20:14] sonovice commented on #130
@lpugin Excluding P&E would be great as I solely need MEI. Thanks a lot, Laurent!
Greetings from Detmold

[2015-07-20 20:33] lpugin commented on #130
I pushed a modification to the develop branch. It should work for the Python toolkit with

```python setup.py build_ext --inplace --define NO_PAE_SUPPORT```

or for the C++ toolkit with

```cmake . -DNO_PAE_SUPPORT=OFF```

Keep me posted

[2015-07-20 20:35] lpugin commented on #130
Thanks @craigsapp , but since C++11 regex is not easy to work with yet I went for the easy fix ;-)

[2015-07-20 20:36] sonovice commented on #130
Thanks @lpugin !

[2015-07-20 20:54] sonovice commented on #130
Hm, still getting some errors. The first one was a missing `../src/git_commit..h` that I created manually according to the `get_git_commit.sh` file.
No I have plenty of warnings and an error, logfile: http://pastebin.com/rf70jVgc

I am not a C or C++ programmer so I dont really have a clue what happens... :-/

[2015-07-20 21:00] lpugin commented on #130
I think it would be best to try to compile the C++ version with cmake first. Could you try it?

[2015-07-20 22:53] sonovice commented on #130
I've installed MinGW32 from scratch, as well as cmake. Still getting this error:
[code]

Used commands:
[code]

[2015-07-21 06:19] sonovice commented on #130
Got it! I had to include `<stdarg.h>` in vrv.h in order to use va_list. The python version got compiled flawlessly. Thanks again for the fast support!

[2015-07-21 08:09] sonovice commented on #130
Setting the ```m_path``` explicitly to the data folder path breaks the constructor of toolkit. It just exits the program without any information...

[2015-07-21 10:13] sonovice commented on #130
Sorry for so many posts in a row... I ended up using the CLI version and simply call it from within python. Too bad verovio python does not work on Windows...

[2015-07-21 11:42] lpugin commented on #130
I added a method in the toolkit for setting the resource path. This will need to be improved. The problem is that it is not ideal to have Resource as static. But for now you should be able to do:

tk = verovio.toolkit( False )
tk.setResourcePath( "/absolute/path/to/the/dir" )

I am not sure it will not crash if the path is not valid...

[2015-07-21 11:49] sonovice commented on #130
Thanks for the quickfix. But it still quits silently. I tried to track down the problem without any traceback, this is how fare I've gotten:
[code]
Somewhere in the function `PUGI__FN xml_parse_status get_file_size(FILE* file, size_t& out_result)` it just stops working.

[2015-07-21 11:51] ahankinson commented on #130
Looks like the path concatenation is using forward slashes instead of Windows back slashes.

[2015-07-21 11:53] sonovice commented on #130
@ahankinson Windows works either way. You can even mix it. But yes, it's not very platform independent this way...

[2015-07-21 11:56] ahankinson commented on #130
well, it looks like it's not able to find the file in the XML result, so my first instinct is that somehow the path is not getting defined correctly.

[2015-07-21 12:01] sonovice commented on #130
Strange thing is that the command line version works without problems, even with mixed slashes & backslashes.

[2015-07-21 13:33] lpugin commented on #130
Does it work if you change the "/" to "\" in vrv.cpp#L109 ? If yes, we can change is to something cross-platform.

[2015-07-21 13:36] sonovice commented on #130
@lpugin No, sorry. The result remains the same.

[2015-07-22 11:22] ahankinson commented on #130
Sorry, it's an obvious question but I have to ask (since I've made this mistake before too!): After you changed it in the C++ file did you re-compile Verovio, or did you just try it again with Python?

[2015-07-22 12:20] sonovice commented on #130
@ahankinson I've recompiled it properly before trying again.

[2015-07-22 12:21] ahankinson commented on #130
OK, just checking!

[2015-07-22 12:31] sonovice commented on #130
No problem, I wasn't even sure and just tried it again. I managed to track down the problem to this line (4002 in pugixml.cpp): `fseeko64(file, 0, SEEK_END);`

I just tried replacing the fseeko64 calls with fseek and now it works with python. Maybe there is something wrong with the preprocessor statements?

[2015-07-22 12:39] ahankinson commented on #130
Are you using 32-bit Python?

[2015-07-22 12:40] sonovice commented on #130
Yes

[2015-07-22 12:42] ahankinson commented on #130
Ah, that could be it. fseeko64 is probably a 64-bit operation, so it would probably fail in a 32 bit environment.

[2015-07-22 21:12] lpugin commented on #130
Anything we need to change before closing this issue?

[2015-07-23 06:01] sonovice commented on #130
I guess the preprocessor definition (pugixml.cpp:3998) gets it wrong since I am not using a 64 bit compiler:
`#elif defined(__MINGW32__) && !defined(__NO_MINGW_LFS) && (!defined(__STRICT_ANSI__) || defined(__MINGW64_VERSION_MAJOR))`

[2015-07-23 11:14] lpugin commented on #130
The simplest would be to use a 64-bit Python. If this is not possible I would recommend to see if it can be fixed directly in pugixml https://github.com/zeux/pugixml.

[2015-07-23 11:18] sonovice commented on #130
Okay, I will give it a shot. Thanks for the extensive support, @lpugin and @ahankinson !

[2015-07-30 10:43] kepper opened #131 "ending tie on first note"
when showing excerpts of a larger score, it's sometimes necessary to include a tie which ends on the first displayed note. I believe this is pretty close to page-based rendering, where you need to indicate a tie crossing the page. Is it possible already somehow?

[2015-07-31 09:06] rigaux opened #132 "Changing the style of a note element"
Hello

Not really an issue, but I can't find a mailing list for Verovio.  So, we are implementing a search engine based on MEI and Verovio. Our engine returns the Ids of elements that match the search pattern, and we went to highlight these elements.

We can access each element in the SVG DOM. It features a class="note", so I assume that there is some kind of CSS somewhere. The question is: how ca

[2015-07-31 13:34] ahwitz commented on #132
Philippe,

To answer your SVG DOM question first: if you append the string that Verovio's loadData function returns to an HTML element, it'll automatically be [parsed and manipulable](https://github.com/DDMAL/vida.js/blob/master/vida.js#L55). Otherwise, there's also the [Javascript DOMParser](https://developer.mozilla.org/en-US/docs/Web/API/DOMParser) object.

Once you have it parsed, take a look

[2015-08-03 12:04] rigaux commented on #132
Thanks a lot Andrew, it works just fine now.

Best

Philippe

2015-07-31 15:34 GMT+02:00 Andrew Horwitz <notifications@github.com>:

--
Cordialement / Regards

P. Rigaux

[2015-08-04 22:37] craigsapp commented on #39
Standard input/output style selectected:
[code]
works, although a bit more wordy than:
[code]
:-)

[2015-08-04 22:43] craigsapp opened #133 "print version option for command line"
It would be useful to have a -v/--version option in the command line version of verovio.  This option flag would report only the version of verovio and then quit, such as:

[code]

Currently I get a similar result by typing "verovio -v" but that is becuase it prints a help screen due to an unknown option.  But I have to scroll up to the top of the output to see the version.

Perhaps change "Verovi

[2015-08-04 23:06] craigsapp opened #134 "initial barline on single-staff systems"
When a system contains only a single staff, there should not be a system barline at the start of the staff.

For example, on the page http://www.verovio.org/pae-examples.xhtml, first example:

[code]

Generates this graphical notation:

![screen shot 2015-08-04 at 3 58 33 pm](https://cloud.githubusercontent.com/assets/3487289/9074758/b27232fc-3ac1-11e5-87be-fe6b34ed9476.png)

The proper (default)

[2015-08-04 23:46] craigsapp opened #135 "Spacing between clef and key signature"
On the example page http://www.verovio.org/pae-examples.xhtml, the first example:

[code]

The spacing between the clef and key signature is too large:

![spacing](https://cloud.githubusercontent.com/assets/3487289/9075218/27033c92-3ac7-11e5-9e3d-d2de1bceca37.png)

The spacing between the clef and the key signature should be in the range from 1.0 to 1.25 interline spaces (Behind Bars, p. 42).  The

[2015-08-05 00:55] craigsapp opened #136 "Staff line thickness"
The default thickness of staff lines on the example page:
     http://www.verovio.org/pae-examples.xhtml
is way way way too thick.  This causes the visual contrast of the notes and the staff to be about equal, lowering the readability of the notes.  The staff lines should be thinned and/or changed to a lighter color.

Vexflow does a good job at the relative contrast between staff and notes, so you

[2015-08-05 08:10] rettinghaus commented on #84
this is now a duplicate of #135

[2015-08-05 08:47] rettinghaus commented on #136
I do prefer heavier staff lines. So staff line thickness should be easily choosable.

[2015-08-10 15:05] lpugin commented on #105
The problem is actually that the initial key signature (key.sig) is defined in the staffDef and that the key changes in the scoreDef. This does not seem to be very consistent to me. If you put it either in the scoreDef at the beginning (also the key.mode), then it works fine. Alternatively, it can be in the staffDef an the beginning, but then the change also need to be in a staffDef (note than one

[2015-08-10 15:09] lpugin commented on #136
I think we can make it a little bit thinner by default, but not to much. Eventually, it should be configurable in a style. The best way to start this would be to see how this can be defined in MEI, and only then to implement it. Anybody willing to start to lay down ideas on this? In the meantime I'll create a new "style" label for this type of issues.

[2015-08-10 15:17] ahankinson commented on #136
The more I think about it, the more I think that any style 'language' should be a project separate from MEI. I don't really care about the syntax, but I think it should be a separate effort from the MEI core development.

[2015-08-10 15:25] lpugin commented on #133
-v/--version sounds like a good idea

[2015-08-10 15:26] #132 closed

[2015-08-10 15:28] lpugin commented on #39
Not so much more... But I would be happy to integrate a pull request for this ;-)

[2015-08-10 15:35] lpugin commented on #136
I don't think it has to be a core development. But I also don't think we can make it completely separate from MEI. Otherwise it will be necessary to redefine all the MEI concepts and structures.

[2015-08-11 09:53] lpugin commented on #107
Fixed with 10c08ca023881ed86b12edcaa767e7d15ef6b5ca

[2015-08-11 09:53] #107 closed

[2015-08-11 09:53] lpugin commented on #134
Fixed with 860c3d46846b7943383d0c5d7dbb737f1c6f1906

[2015-08-11 09:53] #134 closed

[2015-08-11 09:54] lpugin commented on #135
Fixed with cde33dd74e991f9d74eb4acf63d5c200e6d8aea2

[2015-08-11 09:54] #135 closed

[2015-08-11 09:55] lpugin commented on #133
Added with 4c7b58c3e9d92f2fbab44438da94ea5e51c57da4

[2015-08-11 09:55] #133 closed

[2015-08-11 09:55] lpugin commented on #136
Now the same at stem width.

[2015-08-11 09:55] #136 closed

[2015-08-11 09:56] lpugin commented on #108
Fixed with 018d46e3b8ffc6acc300fc6bfa619dd8d552fdec

[2015-08-11 09:56] #108 closed

[2015-08-15 19:54] lpugin commented on #112
Fixed with 747638a7df7ac63ab886cedc7b571d2a122d70a2

[2015-08-15 19:54] #112 closed

[2015-08-16 07:02] lpugin commented on #124
Fixed with 018d46e3b8ffc6acc300fc6bfa619dd8d552fdec

[2015-08-16 07:02] #124 closed

[2015-08-16 07:10] lpugin commented on #109
Fixed with d385b0294fa3e0ed95806845b833fa586c42cc0c

[2015-08-16 07:10] #109 closed

[2015-08-16 07:12] lpugin commented on #105
I'll change this do documentation since it works but only if key.sig are placed consistently

[2015-08-16 08:45] #94 closed

[2015-08-16 08:45] #6 closed

[2015-08-17 09:05] lpugin commented on #131
The way to do this is to include the measure preceding the page break with the appropriate notes/ties, and then to include the ```<pb>``` and ```<sb>``` for providing the layout information you want. Then you will need to display the second page.

Eventually, we should be able to have timestamp, but it does not really make sense for ties, does it?

[2015-08-17 14:01] kepper commented on #131
yes, I already figured that solution. There really is no pb or sb preceding my intended "first" measure, but that's just a matter of adjusting the MEI that goes to Verovio. Since this isn't visible anywhere as MEI, I guess that's ok. It probably means that I always need to display the second page, but that'll be doable somehow, I guess�

Thanks :-)

Am 17.08.2015 um 11:05 schrieb Laurent Pugin <no

[2015-08-17 14:05] lpugin commented on #131
OK, good. We will see if timestamps can solve it without adding another page.

[2015-08-17 14:05] #131 closed

[2015-08-17 20:01] pe-ro commented on #131
The tstamp and tstamp2 attributes could be adjusted for a tie that starts/ends before/after the current fragment.  For example, a tie that ends in the first measure of p. 2 (that presumably began on a preceding page) could have its tstamp set to "0" (that is, the left edge of the first measure).  A tie that continues beyond the end of the page being displayed could likewise have its tstamp2 set to

[2015-08-18 00:25] craigsapp opened #137 "Hand-coded example"
Hi Laurent,

It would be handy to transcribe the following musical composition into  raw Verovio code as a guideline for basic converter implementations (not too much sneaky stuff like hanging ties):

![screen shot 2015-08-17 at 4 53 14 pm](https://cloud.githubusercontent.com/assets/3487289/9319255/2f5187de-4501-11e5-808b-897ed35aa6dd.png)

For example the code for the first key signature might be

[2015-08-18 12:14] #88 closed

[2015-08-20 12:39] lguariento opened #138 "Defective rendering on Firefox"
Hello,

I have a strange rendering problem of .mei files:
![rendering](https://cloud.githubusercontent.com/assets/10143842/9383364/5b9cde1a-4740-11e5-956b-204c0267a861.jpg)

Anybody knows how to resolve it? This shows like that on Firefox 40 (on OSX 10.10.5), while on Google Chrome and Safari it renders properly.

Thanks

[2015-08-21 09:53] lpugin commented on #138
This is quite likely a conflict with a css. It happens with Bootstrap. Try adding

[code]

[2015-08-22 09:20] lpugin commented on #137
Hi Craig,

I'll do it once the StaffDef/ScoreDef refactoring I am working on is done.

[2015-08-24 09:16] lpugin commented on #138
Also, double check that this page works with your version of Firefox (it does with 40.0.2)
http://www.verovio.org/hello-mei-world.html

[2015-08-24 09:16] #138 closed

[2015-08-24 09:19] lguariento commented on #138
Yes, the

svg:not(:root) {
  overflow: inherit;
}

solved the problem!
Thanks

[2015-08-24 18:36] lpugin commented on #111
Added in d6ccf0ca7a6c960e9a909ba4f7aa03ec1529d39a

[2015-08-24 18:36] #111 closed

[2015-08-25 05:10] lpugin commented on #31
Fixed

[2015-08-25 05:10] #31 closed

[2015-08-27 18:50] lpugin commented on #137
Hi Craig,

Here is the basic. The code is not structured (just a long list) but very easy to follow. All the methods for adding attribute values are generated from the schema with LibMEI and the class names match the MEI element names.

https://github.com/rism-ch/verovio/blob/master/doc/importer.md

I'll update the example when you feature will become available.

[2015-08-27 20:17] craigsapp commented on #137
Hi Laurent,

Thanks!  That is just what I need -- a top down overview of how to
construct the data.  I should be able to mostly figure out anything else by
reading the verovio code.

How do I output the MEI file from verovio?  That will be a good way of
writing a converter from Humdrum to MEI so that I don't have to write a
separate one.

I was in Los Angeles last weekend so not doing much, but I

[2015-08-28 05:01] lpugin commented on #137
For getting the MEI into a string you should use the MeiOuput class (See the Toolkit class for a detail example). Something like

[code]

[2015-08-28 06:29] lpugin commented on #126
mRpt added in 2600f0c5ce223b66438927ea7708621317e2b88f

[2015-09-05 05:42] bretdabaker opened #139 "PAE: Support chords"
As described [here](http://www.iaml.info/sites/default/files/pdf/plaine_easie_code.pdf):

__4.14. Chords__
The upper note is transcribed first; then follow the lower ones, each one separated by ‘^’.

[2015-09-06 14:44] lpugin commented on #121
This is fixed with 71495cd8dae4cfe7b9fbf1a6563d097fe28baad3. However, collision with stem might still occur with short ties depending on the context.

The chord issue seem to be a problem with the MEI encoding. See https://github.com/music-encoding/sibmei/issues/39

[2015-09-06 14:44] #121 closed

[2015-09-07 08:00] #137 closed

[2015-09-07 08:01] #126 closed

[2015-09-07 08:03] lpugin commented on #97
Fixed

[2015-09-16 05:53] bretdabaker opened #140 "Vertical and Horizontal Borders"
It would be great if we can decouple `border` into the `vertical-border` and `horizontal-border`.

For instance, the example in the following page has an extra empty space on top. To remove it you will have to reduce `border` (vertical) which would result in clipping the the staff braces/brackets (horizontal).

http://www.verovio.org/features.xhtml?id=scoredef

[2015-09-17 12:09] lpugin commented on #140
I would suggest to have actually four parameters (border-left, -right, -top, -bottom) in addition to border that would define all of them as now.

This is actually fairly simple to implement since it only requires to corresponding options to be added to the Toolkit class, to the main.cpp and JS interface. I'd be happy to integrate a PR if you add it, otherwise it will certainly be added eventually

[2015-09-17 17:38] lpugin commented on #49
Fixed with news slurs

[2015-09-17 17:38] #49 closed

[2015-09-18 14:29] rigaux opened #142 "Position of fermata"
(Minor) A fermata touches the underlying note. See the score here:

http://neuma.huma-num.fr/scorelib/opus?id=timbres:cdc:0002

and Verovio (V. 0.9.9) here:

http://neuma.huma-num.fr/ajax/verovio?id=timbres:cdc:0002&matches=[]

Another example: measure 24.

http://neuma.huma-num.fr/scorelib/opus?id=timbres:cdc:0004
http://neuma.huma-num.fr/ajax/verovio?id=timbres:cdc:0004&matches=[]

The position

[2015-09-23 14:28] lpugin opened #144 "Tie are missing with repeating measure patterns"
http://www.rism-ch.org/admin/sources/408001515

[2015-09-23 20:02] lpugin commented on #142
Fixed

[2015-09-23 20:02] #142 closed

[2015-09-24 14:21] rigaux opened #145 "Support for staffDef within measure without scoreDef"
Score:
http://scorelib.huma-num.fr/scorelib/opus?id=methodes:adampiano:204_1
As you can see there is a change of clef for staff 2 at the end of measure 3. This change is reported in the MEI, but seems to be ignored by Verovio (last release).
MEI: http://scorelib.huma-num.fr/rest/methodes/adampiano/204_1/mei.xml
Verovio: http:/scorelib.huma-num.fr/ajax/verovio?id=methodes:adampiano:204_1&matches=[]

[2015-09-24 14:27] rigaux opened #146 "Overlap slur / tuplet number + strange beam"
Score: http://neuma.huma-num.fr/scorelib/opus?id=methodes:adampiano:104_2
Measures 1 and 3: the '3' overlaps the slur.
http://neuma.huma-num.fr/ajax/verovio?id=methodes:adampiano:104_2&matches=[]

Also: the represent of the beam at measure 7 looks weird. Compare with the Lilypond version which seems more natural.

[2015-09-24 14:34] rigaux opened #147 "Beam collision (grace notes vs regular notes)"
Quite a special case... Here, measure 12
http://neuma.huma-num.fr/scorelib/opus?id=methodes:adampiano:107_1
Verovio: http://neuma.huma-num.fr/ajax/verovio?id=methodes:adampiano:107_1&matches=[]

Another example:
http://neuma.huma-num.fr/scorelib/opus?id=methodes:adampiano:110_1
MEI: http://neuma.huma-num.fr/rest/methodes/adampiano/110_1/mei.xml
Verovio: http://neuma.huma-num.fr/ajax/verovio?id=met

[2015-09-25 16:33] alastair opened #148 "Support for rendering non-standard key signatures"
We're investigating verovio for rendering turkish makam music. One of our requirements is for makam style key signatures - which include half- and quarter- sharps and flats:

![screenshot from 2015-09-25 18-29-33](https://cloud.githubusercontent.com/assets/19217/10106189/80dfe0a2-63b3-11e5-800e-e7d6d4c72cfb.png)
![screenshot from 2015-09-25 18-30-14](https://cloud.githubusercontent.com/assets/1921

[2015-09-27 20:42] lpugin commented on #148
I am not sure how the key signature should be encoded in MEI, but are you thinking of have something like:
[code]
(with the appropriate accid value)?

Supporting this would actually be quite easy. For now only ```@key.sig``` is read in staffDef, but everything is in place for supporting ```<keySig>```. You would need to add ```keyAccid``` element support and reading them. You would then need to mo

[2015-09-28 07:55] lpugin commented on #144
Fixed

[2015-09-28 07:55] #144 closed

[2015-09-28 07:58] lpugin commented on #139
Added in commit bc5babe49c834fbf0f51c7cbb0a8604506c9d154 (to be pushed). However, chord support will remain limited with PAE. For example, with tuplets or with ties.

[2015-09-28 07:58] #139 closed

[2015-10-08 09:01] rklugseder opened #149 "Mensural Notation: missing element <ligature>"

[2015-10-08 09:02] rklugseder opened #150 "Mensural Notation: missing chant text rendition"

[2015-10-08 09:03] rklugseder opened #151 "Mensural Notation: missing accidental rendition"

[2015-10-08 09:07] rklugseder opened #152 "Mensural Notation, rendition problem: displaced up stems"
up stems are displaced (horizontal right)
![stem](https://cloud.githubusercontent.com/assets/11180370/10362109/bb912348-6dac-11e5-883c-0bf9d450c549.png)

[2015-10-20 07:40] kepper commented on #125
any schedule for supporting these? Alternative: would it be possible to get ```@stem.mod ``` for ```<note>``` to fake them?

[2015-11-10 10:50] cgueggi opened #153 "Display of grace notes in beams"
Grace notes are not displayed correct when attached to other notes in beams:
http://www.rism-ch.org/admin/sources/408002676 (bar 3)
http://www.rism-ch.org/admin/sources/408002679 (bar 2)

[2015-11-30 14:28] lpugin commented on #125
Added in 0.9.10

[2015-11-30 14:28] #125 closed

[2015-12-02 07:27] lpugin commented on #152
Fixed in 3a71176de02f7523a1304e58676ce9daf3eb7a81 (to be verified)

[2015-12-02 07:27] #152 closed

[2015-12-17 09:22] shino-funayama opened #154 "Support for several <mdiv>"
In order to encode some harmonic studies from Max Reger.Alltogether there are six different (mdiv) for six different groups of tonalities, namely C-major, C sharp-major, a-minor, C flat-major, d flat-minor and a sharp-minor. Each (mdiv) has a (score) and multiple (section) as modulation examples.
In Verivio is only shown the first (mdiv). That means that we can see in Verovio only examples of C-ma

[2015-12-17 09:28] shino-funayama opened #155 "Support for choice element"
This is about major and minor cadence in one example. We have taken (choice) here and two different variations as input. But in Verovio (choice) is not displayed. Does anyone have ideas?

![frage2](https://cloud.githubusercontent.com/assets/16317856/11866026/942f0f8a-a4a8-11e5-9944-31e810ea7f4b.JPG)

[2015-12-17 09:37] shino-funayama opened #156 "Avoid collision with unison or second intervals"
It's about two different note duration of two different voices which, however, have the same pitch. They appear to overlap in verovio. Is it somehow possible to display two notes side by side?

![frage3](https://cloud.githubusercontent.com/assets/16317856/11866100/180b4c42-a4a9-11e5-8d3a-236e7ae9b7d9.JPG)

[2015-12-17 09:38] shino-funayama opened #157 "Support for double flat"
It's about twice the flat. ♭ ♭ is not displayed in verovio. Are there other ways to encode double b signs?

![frage4](https://cloud.githubusercontent.com/assets/16317856/11866267/3ab7915a-a4aa-11e5-82b8-9abff6e0e5f9.JPG)

[2015-12-17 09:40] shino-funayama opened #158 "Support for enclose on accid"
How can I encode a clip without (choice)?

![frage5](https://cloud.githubusercontent.com/assets/16317856/11866302/6f9f7342-a4aa-11e5-8d42-d085108660a2.JPG)

[2015-12-17 09:42] shino-funayama opened #159 "Support for multiple accid values (e.g., "ns")"
How can at a note  a  natural and a sharp side by side be encoded? In Verovio this is not displayed correctly.

![frage6](https://cloud.githubusercontent.com/assets/16317856/11866324/b3bc4474-a4aa-11e5-8535-ed0353aa8ba9.JPG)

[2015-12-17 13:37] ahwitz commented on #157
Laurent: I don't have the time currently to debug/add support for this or #159, but I'm afraid that a new if/else case at https://github.com/rism-ch/verovio/blob/master/src/view_element.cpp#L1875 will likely need to be added, and some of the macros at https://github.com/rism-ch/verovio/blob/master/include/vrv/vrvdef.h#L270 might have to be tweaked a little bit, unless you can count two-graphic acc

[2015-12-21 12:06] lpugin commented on #156
Actually already provided by #96

[2015-12-21 12:06] #156 closed

[2015-12-21 17:54] shino-funayama commented on #156
Ok! Thank you.

[2015-12-28 17:37] lmarcon opened #160 "Support for meter change in MusicXML import"
Hi,
I have the following sheet in MuseScore:

![schermata 2015-12-28 alle 17 57 25](https://cloud.githubusercontent.com/assets/3500986/12022100/f33bcfb2-ad8c-11e5-8246-73f893364881.png)

I exported it in MusicXML, then used the online interface to convert it to .mei (and then svg), and I get the following:

![schermata 2015-12-28 alle 17 57 14](https://cloud.githubusercontent.com/assets/3500986/12

[2015-12-28 23:25] ahankinson commented on #160
Which Music XML to MEI tool did you use specifically?

[2015-12-28 23:59] pe-ro commented on #160
I just made a change to musicxml2mei-3.0 that should fix the capture of the time signature change.  Even so, this area of the conversion is still incomplete and the whole style sheet will have to be re-examined with regard to the new release.

[2015-12-29 00:10] lmarcon commented on #160
I used the online tool here: http://www.verovio.org/musicxml.html
Il 29/dic/2015 00:25, "Andrew Hankinson" <notifications@github.com> ha
scritto:

[2015-12-29 08:01] lpugin commented on #160
I'll try to fix it in the next update.

[2015-12-31 17:21] pe-ro commented on #127
Nested beams can't be ignored in all cases.  In particular, a beamed group of grace notes can fall under a beam that groups a set of "regular" notes, as exemplified in issue #147.

I've been thinking it would be useful to create a new element -- `gruppetto` -- for beamed grace notes. The name isn't technically correct, but may be close enough.  With this new element, it would be possible to allow

[2016-01-03 13:25] donbyrd commented on #127
I don't think grupetto is a good name -- if I remember correctly, people used to call tuplets "grupettos" -- but otherwise I like pe-ro's idea.

[2016-01-04 09:02] lpugin commented on #127
Allowing nested beams seems appropriate to me, unless we can find a better name. Alternatively, we could add a ```@grace``` on beam.

[2016-01-04 09:17] lpugin commented on #59
Added in 06c41317bdc8894862c07ca4fbc08d49d96a8e5a

[2016-01-04 09:17] #59 closed

[2016-01-04 09:28] lpugin commented on #153
PAE encoding is wrong, should be ```gG{8F6ED}``` and not ```{gG8F6ED}```

[2016-01-04 09:28] #153 closed

[2016-01-04 09:29] #97 closed

[2016-01-04 09:47] pe-ro commented on #127
I have reservations about the name too.  Care to suggest a different one?

__________________________
Perry Roland
Music Library
University of Virginia
P. O. Box 400175
Charlottesville, VA 22904
434-982-2702 (w)
pdr4h (at) virginia (dot) edu
________________________________
From: Don Byrd [notifications@github.com]
Sent: Sunday, January 03, 2016 8:25 AM
To: rism-ch/verovio
Cc: pe-ro
Subject: Re: [

[2016-01-04 10:18] lpugin commented on #127
Sorry, I think I was not clear. I meant allowing nested beams without adding a new element with a different name seems fine to me. Why we would want another name? We do not have another one for grace notes anyway.

[2016-01-04 10:25] rettinghaus commented on #127
Seems to me allowing ``@grace`` on ``beam`` would be the best approach here.
Thus it still would help to spot encoding errors with verovio.

[2016-01-04 15:49] pe-ro commented on #127
Creating a new element would make it easier to control the nested beam situation than `@grace` on `<beam>`.  Nested beams would be disallowed, but `beam/grupetto` (or whatever it's called) would be permitted, instantly stopping any encoding errors.  The one problem is with the interaction of `<beam>` and `<grupetto>` where either one crossed a measure boundary.  In that case, we're back to `<beamS

[2016-01-04 15:56] lpugin commented on #127
One new element sounds already over the top to me, needless to say what I think of ```grupettoSpan``` ;-)

[2016-01-04 16:10] pe-ro commented on #127
I don't think adding `@grace` to `<beam>` solves anything, so let's leave well enough alone.

[2016-01-04 16:11] pe-ro commented on #127
But we have to be clear that nested beams ARE allowed, notwithstanding Jo's comments to the contrary.  ;-)

[2016-01-04 21:57] efreja opened #161 "Support for octave element"
Hello,

To what I've seen on the Verovio website, the <octave> element is not supported by Verovio viewer.
Could you add it ? It's not replaceable by any other mean ...

Thank you for your strong effort on Verovio.

All the best

[2016-01-12 14:26] lpugin opened #162 "Partially beamed tuplets in PAE are wrongly fully beamed"
E.g., =4/''2D4(8{FD}'A;3)/8.B6B4B8BB/4.A8EAG/gG8.F6E4D
http://www.rism-ch.org/catalog/402009783

[2016-01-25 21:42] efreja opened #163 "Beams sometimes incorrectly rendered"
Hello,
The beam:

                                <beam>
                                    <rest dur="16"/>
                                    <note dur="16" …/>
                                    <rest dur="8"/>
                                </beam>
(two bars on the eight rest)
is incorrectly rendered whereas the inverse one:

                                <beam>

[2016-01-25 21:57] efreja opened #164 "Beam on 16th wrongly rendered"
Hello,

The 16th beam is wrongly rendered on:

![wrongbeamon16th](https://cloud.githubusercontent.com/assets/16109195/12565609/81e02626-c3b5-11e5-9c1e-0d9c74de98d1.png)

Thank you

[2016-01-25 22:05] efreja opened #165 "Chord beams may be incorrectly rendered"
Hello,

The beam:

                                <beam >
                                    <chord dots="1" dur="8" dur.ges="192p" stem.dir="down">
                                        <note dots="1" dur="8" dur.ges="192p" layer="1" oct="4" pname="g" pnum="68" staff="3">
                                            <accid  accid="s"/>
                                        </note>

[2016-01-26 21:33] efreja opened #166 "stem.dir doesn't seem to be supported by the chord element"
Hello,

It seems that stem.dir isn't considered on the chord element.
It must be placed on the note elements inside the chord so that the stem of the chord has the desired direction.

Thank you

[2016-01-26 21:39] efreja opened #167 "Support request for new elements and attributes"
Hello,

I think the verovio should support the following elements (in order of priority in my opinion):

1.  <gliss>
2.  <hairpin>
3.  <dynam>
4. element <note>
 - support for artic="stacc" , artic="acc" or a combination of both
 - support for head.shape="cross" (for rythmics)
5.  <beamSpan>
6. element <slur>
- support for lform="dashed"
7. element <measure>
- support for label attribute

That wou

[2016-01-26 22:12] efreja opened #168 "Support for beams with stems up and down"
Hello,

The beam:

                                <beam >
                                    <rest dur="8" dur.ges="128p"/>
                                    <note artic="stacc" dur="16" dur.ges="64p" layer="1" oct="3" pname="g" pnum="56" staff="4" stem.dir="up">
                                        <accid  accid="s" func="caution"/>
                                    </note>

[2016-01-27 11:57] lpugin opened #169 "Support for articulation"
Requested in #167
Support for artic="stacc" , artic="acc" or a combination of both

[2016-01-27 11:57] lpugin opened #170 "Support for glissando"
Requested in #167

[2016-01-27 11:58] lpugin opened #171 "Support for hairpin and dynam"
Requested in #167

[2016-01-27 11:59] lpugin opened #172 "Support for dashed slur"
Requested in #167

[2016-01-27 12:01] lpugin commented on #123
Requested in #167

[2016-01-27 12:01] lpugin commented on #167
Thanks. I reorganized them as separated issues.

[2016-01-27 12:01] #167 closed

[2016-01-27 12:06] lpugin commented on #169
Duplicates with #91

[2016-01-27 12:06] #169 closed

[2016-01-27 12:08] lpugin commented on #168
Duplicates with #98

[2016-01-27 12:08] #168 closed

[2016-01-30 19:07] efreja opened #173 "dur ignored in single note beams"
Hello,
If a beam contains a single note - probably incorrect, but in that case, the beam is hopefully ignored -  the duration is not taken into account. The note is always rendered as a quarter note.
Thank you

[2016-02-02 15:33] lpugin commented on #173
I am not sure about this. I would rather suggest we try to add a schematron rule for this in the MEI schema. Other opinions?

[2016-02-02 15:35] kepper commented on #173
there is a schematron rule for this in MEI…

[2016-02-02 15:37] lpugin commented on #173
OK, thanks. The file is not valid.

[2016-02-02 15:37] #173 closed

[2016-02-02 16:14] ahankinson commented on #173
Just to follow up -- If the single note beam is a result of a nasty bug in the Sibelius to MEI exporter, this has been fixed in version 2.0. You can download the beta version of it here which fixes it: https://github.com/music-encoding/sibmei/releases/tag/2.0.0-beta3

[2016-02-02 18:24] efreja commented on #173
Yes, indeed it comes from the Sibelius to MEI exporter, but in version 2.0.0 beta3.
Maybe the correction is not complete as it remained some occurrences of this pattern.
All the best.

[2016-02-02 18:26] ahankinson commented on #173
Can you send me the Sibelius file? I would like to have a look at it to see where the problem might be. You can e-mail it to me, andrew.hankinson(at)mail.mcgill.ca

[2016-02-02 18:29] efreja commented on #173
I can't. I'm not the owner of that score... Sorry...

[2016-02-02 18:29] ahankinson commented on #173
Ok, no worries.

[2016-02-02 18:31] ahankinson commented on #173
One thing you might check is the beaming and flagging on the number pad for the notes in question. Sibelius lets you set notes as 'beamed' but will not draw them as beamed if there is only one of them. In other words, you could have an eighth note set as beamed, but if it is followed by a quarter note it will draw it with a flag.

[2016-02-02 18:34] efreja commented on #173
OK , I'll try to check, otherwise I'll try to provide an excerpt...

[2016-02-02 18:42] efreja commented on #173
OK, here's the original bar under Sibelius:
![capture d ecran 2016-02-02 a 19 39 02](https://cloud.githubusercontent.com/assets/16109195/12760051/c5754c6a-c9e4-11e5-9abf-48ca2422a9e4.png)

The mei excerpt proving the Sibelius to MEI exporter:

    <encodingDesc xml:id="m-18">
        <appInfo xml:id="m-19">
            <application xml:id="sibelius" isodate="2015-12-2T00:28:29Z" version="8010">

[2016-02-02 18:44] ahankinson commented on #173
If you get a moment, let me know what the beam settings look like for these notes...

[2016-02-02 20:29] efreja commented on #173
I've checked, the notes in question aren't beamed. Cheers

[2016-02-16 22:08] lpugin commented on #92
Implemented in cfc4059ad12e4814822fab814c31fa3448f5ceea

[2016-03-02 09:21] #171 closed

[2016-03-02 09:22] lpugin commented on #171
Added in version 0.9.11

[2016-03-09 13:44] nikobeer opened #177 "Configuration of visibility of bar numbers."
In some circumstances it would be nice to have the possibility to configure whether bar numbers are rendered or not (e.g. „no bar numbers“, „only on system/page breaks“, „every nth bar“, „every bar number“ …).

[2016-03-18 07:58] lpugin commented on #69
@kepper do you have any opinion on this?

[2016-03-18 09:24] kepper commented on #69
I wouldn't do CSS by default, as it requires people to load another file. Right now, using Verovio is bloody simple, and I'd recommend to keep it like that. Having separate attributes for stroke and fill seems reasonable and might be helpful when someone wants to use the verovio SVG output in other applications (SVG editors etc.). However, I'd say that this doesn't need a very high priority – brow

[2016-03-21 09:42] kepper opened #178 "better feedback for rejected files in MEI Viewer"
when Verovio doesn't accept a file in the Verovio viewer, it would be good to get some kind of feedback why it was rejected. No need for a full-blown analysis, even a simple indication _that_ it has been rejected would be good.

[2016-03-21 09:43] ahankinson commented on #178
Seems to me that the fact that it isn't showing up is a pretty good indication that it has been rejected. :smile:

(kidding! kidding!)

[2016-03-21 09:45] kepper commented on #178
well, but sometimes you make subtle changes to a file, and Verovio just shows the old one – and you spend quite some time to recognize that nothing has changed ;-)

[2016-03-21 09:49] lpugin commented on #178
What helps is to do a try and catch in JavaScript. See the mei-viewer.xhtml for this, which does:

[code]

[2016-03-21 09:55] kepper commented on #178
yes, but I'd like to see this in the "official" MEI Viewer – sometimes this tool is very handy to get a first impression of the quality of a file, without having to set up something on my own… Pretty pretty please, with cream on top ;-)

[2016-03-21 10:00] ahankinson commented on #178
It may be that your file doesn't actually raise an error to catch...

[2016-03-21 10:04] lpugin commented on #178
It seems to work only if you have not selected a local file first. That is, if you go there
http://www.verovio.org/mei-viewer.xhtml
And then select a file that Verovio cannot handle, then it shows an error. If you have selected and loaded a file that works before, it does not. I do not understand why.

[2016-03-21 10:14] lpugin commented on #178
@kepper could you have a try?

[2016-03-21 12:39] kepper commented on #178
I get an error after a fresh reload in Safari, but not in Firefox…

[2016-03-21 12:42] lpugin commented on #178
I get the error on Firefox too, version 44

[2016-03-21 13:50] lpugin commented on #178
It depends ;-) Actually not so easily because Verovio fails on assert, which are intended but not designed to passed a message back.

[2016-03-22 08:55] kepper commented on #178
both Maja and I tried – doesn't work. The pre-selected "Am Brunnen vor dem Tore" gets rendered, and then after loading the iffy file, nothing happens – no error message. We both use FF 44.0.2…

[2016-03-22 09:37] lpugin commented on #178
Could you send me the two files?

[2016-03-22 09:38] lpugin commented on #178
PS I am now running FF 45.0.1

[2016-03-26 13:08] lpugin commented on #164
Fixed with dca1fd914607d2dd09a1f0c19dde82fe30521a28

[2016-03-26 13:08] #164 closed

[2016-04-29 15:28] lpugin opened #179 "Notes with accid element with accid.ges show a natural"

[2016-05-11 20:44] donbyrd opened #180 "Error reporting leaves much to be desired"
Verovio's error reporting leaves much to be desired. For example, in mensural notation, if there's no <mensur>, it gives the [Warning] "No current mensur for calculating duration" for every note, with no indication of where in the input the problem is; even if it said where the problem is, this would be unsatisfactory because other warnings could easily get lost in a sea of "No current mensur..."

[2016-05-11 20:46] ahankinson commented on #180
Does validating the MEI file give you a better idea of where the problem is?

[2016-05-11 21:10] lpugin commented on #180
This should indeed be improved. One option could be to have a pedantic mode and make it fail straight away when something wrong is encountered. (Up to know the approach is more to try to go through the process.) I am not sure what this would bring. I would rather try to have validation improved with Schematron, which for the case you are mentioning with the mensur missing would be the way to go. B

[2016-05-11 21:21] pe-ro commented on #180
@donbyrd: Did you mean to say "if there's no mensur attribute, it gives the [Warning] ..."?

I agree with @lpugin that building more "knowledge" into MEI about processing requirements via Schematron (within reasonable limits, of course) sounds like a good way forward.

[2016-05-11 23:08] donbyrd commented on #180
I haven't tried validating the MEI file. Regardless, I agree that improved validation with Schematron is a good idea. But it's surely not a complete solution, especially since we can't assume that all users will validate every MEI file before using Verovio on it. Even after running Verovio, they might think their problems are less serious than they really are because they haven't noticed messages

[2016-05-12 01:38] pe-ro commented on #180
I can't comment on the coding of Verovio, but is it unrealistic to expect Verovio to work only on valid files?  Valid files are the point of using a schema, after all.  Or do you expect Verovio to work in **quirks mode** like a badly-designed browser?  ;-)

[2016-05-12 01:57] donbyrd commented on #180
Sorry for the unclarity. Of course it's not unrealistic to expect Verovio to work only on valid files, but I think it's unrealistic to think users will always check that their files are valid before feeding them into Verovio. Besides, many files -- like my mensural-notation example without a <mensur> -- are likely to be valid MEI but still present problems. Therefore it's important that Verovio ma

[2016-05-12 06:29] lpugin commented on #180
Users should strongly be encourage to check their files are valid, at least when something goes wrong. So there is no point rebuilding the schema within Verovio.

However, validation with not solve all the issues either, so we certainly need to improve the messages. I am not convinced we need more levels that what we have (DEBUG, INFO, WARNING, ERROR) since it is already not so easy to decide what

[2016-05-12 10:28] donbyrd commented on #180
First, I didn't mean to suggest that we use more levels; I was just drawing attention to the syslog(3) documentation, and suggesting we be careful to use DEBUG, INFO, WARNING, and ERROR according to their definitions. They say:
 LOG_ERR       Errors.
 LOG_WARNING   Warning messages.
 LOG_NOTICE    Conditions that are not error conditions, but should possibly be handled specially.
 LOG_INFO      In

[2016-05-12 18:35] lpugin commented on #180
Showing the number of times an message occurs is a good idea. Showing the line number is trickier since the XML is parse and we don't really have line numbers.

What I usually do is show the xml:id. (Now this is helpful only if the MEI file has xml:ids, which is not always the case.). So one way to improve it would be to store each message with a list of xml:ids, and then have an option to show id

[2016-05-12 21:15] pe-ro commented on #180
Another possibility is to display an error location based on the structure of the data, for instance "m. 3, 3rd note",  if one has measures, that is. :-)  Perhaps something based on page and staff instead?  In any case, these are things that are relatively easy to get from the XML and that one can be assured will be in the data.

[2016-05-13 07:52] lpugin commented on #180
Not having the xml:ids in the original MEI file is actually not a so much of an issue. It is always possible to export the MEI file from Verovio where then we can see the xml:ids assigned by Verovio when they are not provided in the original file.

[2016-05-13 08:33] lpugin commented on #165
Fixed

[2016-05-13 08:33] #165 closed

[2016-05-13 08:40] lpugin commented on #179
Fixed with 86de59ce89bc9fff72d7f932d7a7e388c22892c0

[2016-05-13 08:40] #179 closed

[2016-05-15 14:03] donbyrd commented on #180
Attached is a screenshot of Nightingale's Score Info dialog; note the statements about duration problems, empty staff-measures, and out-of-range notes.

Starting with this kind of report, we could also give users full details with much less chance of their overlooking important problems by saving a full set messages on a file,
![scoreinfo](https://cloud.githubusercontent.com/assets/1672175/1527460

[2016-05-20 14:22] ahwitz commented on #166
The following snippet of MEI seems to override stem directions on chord objects as intended. Not sure if this has been fixed since the issue was created, but @efreja, if you're still having troubles, please send the XML that doesn't work.

[code]

[2016-05-20 14:34] #166 closed

[2016-05-20 14:47] ahwitz opened #181 "Coverage of accidentals in 3.0.0"
Checkboxes reflect status on github.com/ahwitz/verovio, devel_ahwitz branch.

List currently ignores positioning and overlap, solely for glyph coverage.
- [x] s: Sharp.
- [x] f: Flat.
- [x] ss: Double sharp (written as 2 sharps).
- [x] x: Double sharp (written using croix).
- [x] ff: Double flat.
- [x] xs: Triple sharp (written as a croix followed by a sharp).
- [x] sx: Triple sharp (written as a

[2016-05-20 16:04] ahwitz commented on #159
Part of #181.

[2016-05-20 16:04] ahwitz commented on #157
Part of #181.

[2016-05-20 17:39] ahwitz opened #182 "Add XML snippets for new single accid glyphs"
Glyphs needed:
//    SMUFL_E270_accidentalQuarterFlatArrowUp = 0xE270,
//    SMUFL_E271_accidentalThreeQuartersFlatArrowDown = 0xE271,
//    SMUFL_E272_accidentalQuarterSharpNaturalArrowUp = 0xE272,
//    SMUFL_E273_accidentalQuarterFlatNaturalArrowDown = 0xE273,
//    SMUFL_E274_accidentalThreeQuartersSharpArrowUp = 0xE274,
//    SMUFL_E275_accidentalQuarterSharpArrowDown = 0xE275,
//    SMUFL_E2

[2016-05-20 17:43] ahwitz commented on #182
Following will not be necessary once new implementation is complete:
    SMUFL_E263_accidentalDoubleSharp = 0xE263,
    SMUFL_E264_accidentalDoubleFlat = 0xE264,
    SMUFL_E265_accidentalTripleSharp = 0xE265,
    SMUFL_E266_accidentalTripleFlat = 0xE266,
    SMUFL_E267_accidentalNaturalFlat = 0xE267,
    SMUFL_E268_accidentalNaturalSharp = 0xE268,
    SMUFL_E269_accidentalSharpSharp = 0xE269,

[2016-05-20 18:25] ahwitz opened #183 "Support for ACCIDENTAL_EXPLICIT_sx"
For some reason, this isn't in the LibMEI copy in the repo, so I can't render it.

[2016-05-20 18:35] ahwitz commented on #181
Still todo: moving vector assembly from DrawAccid to Accid, manipulated by CalculateAccidX

[2016-05-20 18:49] rettinghaus commented on #84
While MEI is rendered nicely, with PAE it's still an issue.

[2016-05-21 13:45] #178 closed

[2016-05-21 13:46] lpugin commented on #178
PS Verovio is now showing the logs in the browser console

[2016-05-22 17:32] lpugin commented on #181
I am actually not sure you need a vector. Wouldn't be enough to have a wstring? See Dynam::GetSymbolStr()
Then you can use DC::GetSmuflTextExtent() to get the width / height.
The only advantage I can see with a vector would be to add margin, but I don't think we need this.

[2016-05-22 17:33] lpugin commented on #182
I would actually leave them and use them whenever possible. See also Dynam::GetSymbolStr() that does about the same for dynamics

[2016-05-23 19:12] lpugin commented on #84
This was improved with the last commit, so hopefully this will fix it. The issue was different spacing (after the time sig) depending on the meter.unit value, which of course should not be the case.

[2016-05-23 19:12] #84 closed

[2016-05-24 15:09] lpugin commented on #161
Added

[2016-05-24 15:09] #161 closed

[2016-05-24 15:10] lpugin commented on #163
Fixed

[2016-05-24 15:10] #163 closed

[2016-05-24 15:10] lpugin commented on #150
Text attached to notes in now rendered in mensural notation

[2016-05-24 15:10] #150 closed

[2016-05-29 08:36] lpugin commented on #183
Fixed in 0618546388c1885ebac2d996a37d52e701771de4

[2016-05-29 08:36] #183 closed

[2016-06-02 20:56] efreja opened #184 "Support for Piano Pedal"
Could you add the support for Piano Pedal ? It appears often in piano scores.
Thank you

[2016-06-02 20:59] efreja opened #185 "Support for Ossias"
Hello,
Could you add the support for Ossias ? It can be useful as as says the documentation : "Most often an ossia is rendered above the main staff on a reduced-size staff."
Thank you

[2016-06-03 12:31] lpugin commented on #184
Piano pedal marks were added in the develop version. (See http://www.verovio.org/download.xhtml for using the develop version)

[2016-06-03 12:31] #184 closed

[2016-06-06 12:40] lpugin commented on #145
staffDef will be supported. However, in the reported cases it makes more sense to use a clef element. See https://github.com/music-encoding/encoding-tools/issues/11

[2016-06-06 22:03] craigsapp opened #186 "Lost documentation?"
The webpage:

http://www.verovio.org/command-line.xhtml

Says: "Building and installing instructions are available on the download page."

The current download page: http://www.verovio.org/download.xhtml

No longer contains the instructions, and instead they can be found here:

https://github.com/rism-ch/verovio/wiki/Building-instructions

Formerly the download page had these instructions:

![scre

[2016-06-07 06:14] lpugin commented on #186
This was moved to the wiki
https://github.com/rism-ch/verovio/wiki
I'll update the the command-line page, thanks.

[2016-06-07 06:14] #186 closed

[2016-06-07 21:16] efreja opened #187 "Support for ornaments"
Hello,

Thank you for your great work.

I think that to support a large number of piano scores, version 0.9.12 dev  (that already contains a number of features), should be enhanced with the following elements, in that order of priority:
- [ ] `<arpeg>`
- [ ] `<mordent>`
- [x] `<trill>`
- [ ] `<turn>`

Thanks

[2016-06-13 03:12] craigsapp opened #188 "@n="0" for measures"
When I try to set @n="0" with SetN(0) on measures, the attribute is not added to the MEI data:

[code]

A zero seems to be permitted when setting the value of @n:

https://github.com/rism-ch/verovio/blob/master/libmei/atts_shared.h#L913

[code]

But HasN() uses 0 as meaning the value is not set:

https://github.com/rism-ch/verovio/blob/master/libmei/atts_shared.cpp#L1154-L1157

[code]

According t

[2016-06-13 06:09] craigsapp opened #189 "Extra padding in first measure of each system"
There is some extra padding added to the first measure on each system in the following example:

![screen shot 2016-06-12 at 10 54 40 pm](https://cloud.githubusercontent.com/assets/3487289/15998148/b66102f0-30f0-11e6-825e-8608d49ae292.png)

The pickup measure is suspiciously wide (it should be equal to the width of the second part of m7 after the repeat), but more importantly measure 11 has too la

[2016-06-13 09:14] lpugin commented on #189
This was actually already corrected in the develop branch so I am closing it.

[2016-06-13 09:14] #189 closed

[2016-06-13 14:13] pe-ro commented on #188
There's no reason `"0"` should be excluded as a label; however, using `@n="0"` to indicate an incomplete measure is an abuse of `@n`.  `@metcon` should be used instead.

[2016-06-13 14:19] craigsapp commented on #188
I am using @n="0" as the measure number, not to indicate and incomplete measure.

[2016-06-13 14:22] lpugin commented on #188
I fixed this. @n="0 is now not excluded anymore.

[2016-06-13 14:30] craigsapp commented on #188
Hi Laurent,

How do i get fixes such as this one and the extra-padding fix into the
develop-humdrum branch?

-=+Craig

[2016-06-13 14:32] lpugin commented on #188
You need to merge develop into develop-humdrum

[2016-06-13 14:52] craigsapp commented on #188
Hi Laurent,

That was easy:
    git pull origin develop
I thought that was going to download the develop branch and then I would
have to figure out how to merge, but it does the merging into the current
branch automatically.

The spacing in the first measure of the systems looks good now:

[image: Inline images 1]

The proper thing to do will be to repeat the measure number on the second
half of a

[2016-06-13 15:29] pe-ro commented on #188
I don't see the images.

[2016-06-13 15:48] craigsapp commented on #188
They did not pass through the mail system properly...  They should be available on the webpage for the issue now:
    https://github.com/rism-ch/verovio/issues/188

[2016-06-13 16:11] lpugin commented on #188
I would expect the ```@n``` to be repeated, so I think it is all good.

Justification: we need to add an option for this. I will keep it unjustified by default since with automatic layout with the algorithm we have now we can often have a last system with only one or a few measures, and justifying this does not look great.

[2016-06-13 16:33] craigsapp commented on #188
Hi Laurent,

Yes, stretching a whole measure to justify would not look good.

You will have to recursively acquire measures from previous systems to fill
in space on the last line, and the previous systems may need to acquire
measures from more previous systems, and so on in theory to the beginning
of the piece.

Some sort of waterfilling algorithm would probably be needed.  Here is a
random paper

[2016-06-16 04:25] craigsapp opened #190 "Implicit accidentals in converter example?"
In the converter example music on the page
    https://github.com/rism-ch/verovio/blob/master/doc/importer.md
is there a way of including "implicit" accidentals on notes?
(also referencing the SVG output from verovio on the page:
    https://github.com/rism-ch/verovio/blob/master/doc/importer.svg
)

In other words, the second note in the 4th measure is a C-sharp, but the sharp is not shown since i

[2016-06-16 04:50] craigsapp opened #191 "DEFINITON_FACTOR -> DEFINITION_FACTOR?"
On line 202 of include/vrv/vrvdef.h:

https://github.com/rism-ch/verovio/blob/master/include/vrv/vrvdef.h#L202

there is a define called "DEFINITON_FACTOR".  What does this mean, as "definiton" is not an English word?  Maybe it is Swissglish?  I am thinking that it should perhaps be DEFINITION_FACTOR, with an extra "I" added.  Note that the define is used in several files as well, which would have

[2016-06-16 06:49] craigsapp commented on #187
Not to mention staccatos and other articulations which I don't think are implemented yet... (Fermatas are implemented).

[2016-06-16 07:21] lpugin commented on #191
Obviously a typo... Fixed with 49c819cf47472e9af916e42225dd36e9e8d83dce

[2016-06-16 07:21] #191 closed

[2016-06-16 07:24] lpugin commented on #190
In MEI this is encoded as a ```@accid.ges```. So you should do

[code]

[2016-06-16 07:24] #190 closed

[2016-06-16 07:34] lpugin commented on #188
Thanks for the tip. However, it would take me longer to understand the paper than to come up with something appropriate for music... ;-)

[2016-06-16 07:36] lpugin commented on #188
```@n="0"``` is now supported. We can improve this once MEI has distinct attribute definitions between ```@n``` in measure and in staff or layer

[2016-06-16 07:36] #188 closed

[2016-06-16 07:40] lpugin commented on #187
I'll change the ticket name to ornament support and remove ending in the list.

[2016-06-16 13:38] craigsapp commented on #190
Thanks!  I notice that there is no ACCIDENTAL_IMPLICIT_x in libmei/atttypesh.  Is an implicit double-sharp supposed to be missing?  There is an ACCIDENTAL_EXPLICIT_x in the file, but the closest implicit one I see is ACCIDENTAL_IMPLICIT_ss:

https://github.com/rism-ch/verovio/blob/master/libmei/atttypes.h#L50-L64

I also just created a branch called ACCIDENTAL_IMPLICIT_ss as I was typing a search

[2016-06-16 13:45] pe-ro commented on #190
Since `@accid.ges` is intended to represent performance, not visual information, so the value set for implicit accidentals is limited to the unique set of perform-able accidentals.

[2016-06-16 15:09] craigsapp commented on #190
Then that leads me back to square one.  How should this example be corectly encoded in MEI/verovio:

![screen shot 2016-06-16 at 7 27 17 am](https://cloud.githubusercontent.com/assets/3487289/16120300/d774b8c4-3393-11e6-8ebc-a740a276fb3f.png)

Must I use @accid on the second two notes, and is @accid.ges actually optional for the first note?

What happened to @accid.vis?  That should be the "explic

[2016-06-16 15:42] pe-ro commented on #190
I'm sorry, but it's much too late to reconsider the names and functions of the accidental-related attributes.

The correct encoding of your 3-note example is

[code]
This provides enough information to calculate the proper written or sounding pitch from the note without having to reference the key signature, doesn't it? (N.B. Since `@accid.ges` is optional, sometimes calculation based on the preva

[2016-06-16 19:39] craigsapp opened #192 "Make all importers optional"
It would be good to allow for all data importers (other than MEI import) to be optional, and have an official standard way of handling it (described on the wikipage for converters).

For example, there is a preprocessor define for NO_PAE_SUPPORT.   I added one for NO_HUMDRUM_SUPPORT, but it does not behave exactly the same way as NO_PAE_SUPPORT, and I suppose I should adjust it.  I just blank out

[2016-06-16 20:12] lpugin commented on #192
What would be the advantage of this? the NO_PAE_SUPPORT was introduced because of some compilation issues on some Windows version (and the dependency on regex).

[2016-06-16 20:16] craigsapp commented on #192
Mostly I am thinking that this would allow a smaller footprint of the
executable for web applications (it is not a problem for the command-line
version).  What is the size difference of the emscripten file when The PAE
support is or is not included?

Currently I am not using C++11 regular-expressions in the Humlib library or
the Humdrum importer, but I really want to :-), so if I break down, the
H

[2016-06-16 21:00] lpugin commented on #192
support is or is not included?

I haven't check this. I will see if it makes a difference that is significant enough

[2016-06-17 06:20] lpugin commented on #192
PS I think NO_PAE_SUPPORT was introduced before we enabled to C++11.

[2016-06-17 06:24] craigsapp commented on #192
C++11 regular expressions are implemented in the current versions of clang,
but not in GCC before version 5.1, so compiling on most linux machines
(which usually still have gcc 4.9) might currently be as tricky as in
Windoze.

On 16 June 2016 at 23:20, Laurent Pugin <notifications@github.com> wrote:

[2016-06-17 07:12] craigsapp commented on #190
[code]

Yes that is sufficient, but I am wondering what is the accidental state of a note if neither @accid.ges nor @accid are given?  I would prefer that that means there is an inferred @accid.ges="n" for the note, rather than saying that the inferred accidental must be extracted from the key signature/previous pitch in the measure/tied note in previous measure(s).

Early music notation can have

[2016-06-17 07:26] lpugin commented on #190
@craigsapp this was already discussed a while ago. The rule is actually pretty simple: ```@accid``` also applies to the gestural domain unless they are different. So

[code]

"Means"

[code]

But the attribute is not duplicated. So there is no need to look at the key signature. You only look at both ```@accid``` and ```accid.ges```. Very small overhead with the advantage of not duplicating informa

[2016-06-17 15:41] craigsapp commented on #190
I am happy if the pitch is locally defined within a note element and the accidental state is not influenced by the key signature, etc.,

@accid implying @accid.ges is fine.  Does this also mean that @accid.ges can imply @accid?

Going back to my original example:

![screen shot 2016-06-17 at 7 25 46 am](https://cloud.githubusercontent.com/assets/3487289/16153812/d2d9a04e-345c-11e6-9489-ce2fae8a6c0

[2016-06-17 16:04] lpugin commented on #190
There is a note->SetAccidGes(ACCIDENTAL_IMPLICIT_s);  at the line 132, so I assume everything is OK.

[2016-06-17 17:05] craigsapp commented on #190
That is better :-),  but there still is a significant problem if @accid.ges cannot imply @accid:

[2016-06-17 17:22] lpugin commented on #190
It is solved by the opposite rule: ```@accid.ges``` is implied by ```@accid``` ;-) But I understand that this is more work for you because humdrum does not make the distinction between the two domains and you need to look at the keysig (and previous notes in the measure) during the import in order to determine if you need to add a ```@accid``` or/and an ```accid.ges```.

[2016-06-17 18:16] craigsapp commented on #190
That does not solve the problem.   I can generate the correct output with an hour or so of extra coding, as I have done the same thing in several other converters.  The problem is that there will be cases where the MEI data represents something which is impossible to represent in graphical music notation.

If the example music

![screen shot 2016-06-17 at 10 27 14 am](https://cloud.githubuserconte

[2016-06-17 18:52] lpugin commented on #190
This is why we need guidelines because the encoding itself does not provide information about how it should be interpreted.

But first, to make sure we are clear, the C is expected to be encoded as
[code]
In such a case, Verovio (and any other renderer) should not **display** a sharp but the sounding value is expected to be C-sharp.

Now with
[code]
even if we have 2 sharps at the key signature, a

[2016-06-17 20:16] craigsapp commented on #190
The general problem is how to handle syntax errors in the rendered musical notation.  What are you going to do if someone encodes:

[code]
at a point in the music which would otherwise require @accid.vis="n" due to the key signature containing a sharp, or the same diatonic pitch having a C-sharp earlier in the measure?  If this note is intended to have an implicit natural accidental, then printing

[2016-06-18 08:45] kepper commented on #190
Hi Craig,

Am 17.06.2016 um 22:16 schrieb Craig Stuart Sapp <notifications@github.com>:

well, what you call an error really isn't one. Rule number 1 for CMN is "don't trust the rules". I would strongly argue against any renderer trying to correct the data I pass to it, as the way we have to read accidentals is not consistent throughout the CMN period. For instance, in his St. Matthew's passion, H

[2016-06-18 19:24] craigsapp commented on #190
The essential problem is that:

[code]

Should not be rendered as:
![screen shot 2016-06-18 at 10 34 27 am](https://cloud.githubusercontent.com/assets/3487289/16172515/4843e3ec-3540-11e6-8220-4ee31c8aca67.png)

Otherwise it will be assumed that the second note must be implicitly C-sharp since the previous one was explicitly C-sharp.  And using external contexts outside of the note element is a bad

[2016-06-18 19:46] craigsapp commented on #190
I have come across an illogical feedback loop in my automatic identification of @accid given @accid.ges: whether to display an accidental or not is contextually dependent on the layout of the music.  As I want verovio to layout the music, I have no idea for certain cases if the accidental should be shown or not.  Specifically the standard convention in CMN is to suppress the accidental for the not

[2016-06-18 20:40] donbyrd commented on #190
Good point that "whether to display an accidental or not is contextually dependent on the layout of the music." But it's not absolutely required across a system break. Gould (p. 87) says "It is _helpful_ to repeat an accidental on a tied note at the beginning of a new system… For music with many tied chords, it is often better not to repeat accidentals…" (emphasis mine) So I'd say that Verovio sho

[2016-06-18 21:23] craigsapp commented on #190
@donbyrd: That sounds good, although it might be also be nice to have a field in the MEI header which is used to specify an how automated treatment of this situation should be handled in a renderer, and which verovio would use if no option is given directly to verovio.  By default no accidentals should be added, but some setting in the MEI header could say that accidentals should be automatically

[2016-06-18 22:42] craigsapp commented on #190
Another thought:  how to deal with app or rdg elements at the note level that would require a change in the value of @accid on a following note in the measure?  In cases where the app/rdg would cause a change in the @accid state of a following note in the measure, the app/rdg must moved instead to the measure level?

[2016-06-19 04:41] craigsapp opened #193 "consistent attibute order printing"
When printing MEI output from verovio, attributes are printed in a random order.  In order for the data to be easier to read, the attributes should be output in a consistent order.  Probably the best thing to do is to sort alphabetically, but as long as it is consistent some other ordering system would also work.

Here is an example:

[code]

Compare to a consistent ordering (not alphabetical, tho

[2016-06-19 07:31] lpugin commented on #190
@craigsapp, your proposal is basically so switch the precedence of the gestural domain over the visual one (let us forget about the distinction between the analytical and gestural ones since as you say it is identical in most music). Coming with humdrum data, I can understand this ;-)

In the importer example, the gestural domain was not encoded in the first place. But this is not an error, this i

[2016-06-19 14:55] craigsapp opened #194 "class tags"
Is there a way of transmitting class tags in verovio c++ classes to the converted SVG image?  This should work similar to the comment feature that I added with @lpugin's guidance (commit 5889b21).  It would also be useful if the MEI output contains the same class tags.

[2016-06-19 18:42] craigsapp opened #195 "CamelCase inconsistency in method names"
Just to be picky ;-), I will point out that the CamelCase names for SetStartid() and SetEndid()  (and probably similar) are not consistent with CamelCase.

In the following example code:

[code]

GetUuid() is correct, because this stands for "get UUID", where "get" is a word and "UUID" is a word (specifically an abbreviation).

SetStartid() is not correct, because this stands for "set start ID", w

[2016-06-20 05:17] craigsapp opened #196 "MIDI export ignoring ties"
The MIDI exporter is ignoring ties in the following example data.  I am testing from the develop-humdrum branch, but didn't try from develop-midi branch.

[code]

[2016-06-20 06:21] lpugin commented on #195
The inconsistency comes from the MEI schema. The method name is generated by LibMEI

[2016-06-20 06:21] #195 closed

[2016-06-20 06:25] lpugin commented on #193
The output is generate by pugixml. It seems that we cannot control this.

[2016-06-20 06:25] #193 closed

[2016-06-20 09:39] ahankinson commented on #193
Perhaps xmldiff would help here?

https://pypi.python.org/pypi/xmldiff

[2016-06-20 10:04] lpugin commented on #194
Since there is no ```@class``` in MEI I am not sure how this would work. I thought about passing ```@type``` if any, but it is there only for some elements. For some others probably ```@label``` would be more desirable. So this could lead us to quite some stuff in the SVG.

With the JavaScript toolkit, a good workaround is to use the getElementAttr(id) method that returns all the attribute an MEI

[2016-06-20 15:59] craigsapp commented on #194
I see you are already using classes in the svg for the underlying MEI element name.   The example code won't help me, as I want to do stuff with analytic markup coming from the Humdrum files importer, so JavaScript (or jQuery in your case :-) won't otherwise have access to this markup.  I could insert it into `@label` etc. (mostly for marking notes).  That would work if there were a way of transmi

[2016-06-21 03:13] craigsapp opened #197 "chord/note attachment of fermata?"
In the sample converter encoding:

https://github.com/rism-ch/verovio/blob/master/doc/importer.md

There is a fermata on the last chord:

![screen shot 2016-06-20 at 7 58 22 pm](https://cloud.githubusercontent.com/assets/3487289/16216685/b4de2d36-3721-11e6-8a0e-fb11dd0bd24e.png)

I am wondering why you attach the fermata to a note in the chord rather than on the chord itself:

[code]

As chord ele

[2016-06-21 04:13] craigsapp opened #198 "temporary last system justification algorithm"
It would be handy to have a temporary justification method for the last system: if the last system is at least 80% full (or some other cut-off), then justify the last system.

Example usage:

![screen shot 2016-06-20 at 9 03 24 pm](https://cloud.githubusercontent.com/assets/3487289/16217728/f7a78712-372a-11e6-947d-a2f263cbe2fb.png)

[2016-06-21 04:25] craigsapp opened #199 "Font mis-mapping for double sharp"
For this test MEI data:

[code]

I am getting this graphical output from verovio:

![screen shot 2016-06-20 at 9 22 37 pm](https://cloud.githubusercontent.com/assets/3487289/16217939/2a4ae09a-372d-11e6-8001-fc610c0f3276.png)

`@accid="x"` is the symbol for a double sharp, correct?  If so, then there is probably a typo for the codepoint of the sharp sign.

[2016-06-21 04:33] craigsapp opened #200 "Font mis-mapping for double flat"
For this MEI data:

[code]

I am getting this graphical notation out of verovio:

![screen shot 2016-06-20 at 9 32 33 pm](https://cloud.githubusercontent.com/assets/3487289/16218059/89b22970-372e-11e6-99f1-aa3dfbbfdd13.png)

Is `@accid="ff"` supposed to represent a double-flat?  If so, then there is probably a codepoint typo for the double flat.  I also just did a "make install" to ensure that the

[2016-06-21 04:45] craigsapp opened #201 "fermata "below" not implemented"
On the sample converter encoding page:

https://github.com/rism-ch/verovio/blob/master/doc/importer.md

The fermata is supposed to be placed below the staff:

[code]

But in the graphical rendering

https://github.com/rism-ch/verovio/blob/master/doc/importer.svg

The fermata is above:

![screen shot 2016-06-20 at 9 36 53 pm](https://cloud.githubusercontent.com/assets/3487289/16218143/2afc894c-372f

[2016-06-21 06:15] lpugin commented on #199
There is work-in-progress by @ahwitz on this #181

[2016-06-21 06:16] lpugin commented on #200
Same as #199

[2016-06-21 06:16] #200 closed

[2016-06-21 06:18] lpugin commented on #197
Actually it is probably best to use fermata elements, which will be added soon in Verovio.

For signum congruentiae we need to look first at the situation in MEI

[2016-06-21 06:27] lpugin commented on #194
What type would m_classAppend be? just a string? or a vector of strings? What about calling it m_SVGclass or m_SVGclasses?

[2016-06-21 21:51] pe-ro commented on #197
The `<fermata>` element is a specialized form of `<dir>`.  We can follow that pattern with signum congruentiae or they can be handled with `<dir>`.  A special element is called for if signum congruentiae need special attributes / content.  The danger is that even if we create specific elements, folks might 'abuse' `<dir>` anyway. So, what attributes do sig. con. need that `<dir>` doesn't provide?

[2016-06-21 22:05] pe-ro commented on #199
Rather than `@left="invis"` on `<measure>` to indicate the missing system line at the start of the first measure, use `@system.leftline="false"` on `<scoreDef>`.

[code]

[2016-06-22 01:43] craigsapp opened #202 "@visibility mapping to SVG @style="visibility:hidden""
It would be handy if @visible="false" in MEI elements maps onto the CSS style attribute visibility="hidden".

Example data which contains a @visible="false" attribute for a note element:

[code]

Current rendering:

![screen shot 2016-06-21 at 6 31 15 pm](https://cloud.githubusercontent.com/assets/3487289/16251862/69d5158a-37de-11e6-995e-fa29a72a36dc.png)

Desired rendering:

![screen shot 2016-06

[2016-06-22 02:35] craigsapp opened #203 "Log functions to STDERR"
It would be better if the logging functions in https://github.com/rism-ch/verovio/blob/1324a0d46b6ad6688e63e511fdf9c5627198edfd/src/vrv.cpp#L205-L344 were to be sent to STDERR rather than to STDOUT for the non-emscripten versions.

[2016-06-22 07:12] lpugin commented on #202
Adding on note, chord and mRest with d1e3f7e59e06443bf7207cb29d435d46b466b6c4

The SVG is ```<g visibility="hidden">```

[2016-06-22 07:12] #202 closed

[2016-06-22 07:17] lpugin commented on #199
Verovio assumes ```@left``` to be ```invis``` (and ```right``` to be ```single```) by default.

[2016-06-22 18:41] craigsapp opened #204 "Tempo::SetStaff enhancement"
When adding a tempo element, it will not show in the rendering unless there is a `@staff` number.

When I try this code:

[code]

I get a type error because SetStaff requires a `vector<int>` typedefed to xsd_posIntList.  Then I have to do all of this:

[code]

It would be more convenient to be able to do just `tempo->SetStaff(int)` when there is only a single staff.

Also, perhaps if there is no `

[2016-06-22 18:55] lpugin commented on #204
We could add a AddStaff(int) to the TimePointInterface that would add it to the vector (if not there already).

Not sure about the default values. This is maybe something people will agree to have for the MEI-Lite version, but certainly not for MEI in general.

[2016-06-22 19:07] lpugin commented on #204
Added in f0ee79e646a6bcde847fd19078da93e57ff606ca

[2016-06-22 19:07] #204 closed

[2016-06-22 19:15] craigsapp commented on #204
Default attribute values would be useful in the MEI guidelines; otherwise, different software implementations will behave differently from each other.  Can not default values be specified in XML schemas?

http://www.w3schools.com/xml/schema_simple_attributes.asp

[2016-06-22 19:19] lpugin commented on #204
Apparently yes... You should raise the question on the MEI repository or on MEI-L

[2016-06-22 19:21] craigsapp opened #205 "Inserting UTF8"
It would also be handy to make the UTF16 conversion of strings more transparent for TextElements:

If I try to do this:

[code]

I get a type error since the input to SetText must a wide character string.  I have to convert manually:

[code]

Can `SetText` be overloaded so that UTF-8 is automatically converted to UTF-16?

[2016-06-22 19:25] lpugin commented on #205
try
[code]

[2016-06-22 19:25] craigsapp commented on #204
And then libmei should be transferring those defaults into verovio somehow (if it is not doing so already).

[2016-06-22 19:32] ahankinson commented on #204
I don't have any plans for including any provision for default values in libmei.

[2016-06-22 19:33] craigsapp commented on #204
Are there defaults in the MEI ODD document?

[2016-06-22 19:35] craigsapp commented on #204
`AddStaff(int)` works.  Is there a reason not to do `SetStaff(int)`?  That would remove any previous staves, and set to a single one.

[2016-06-22 19:36] ahankinson commented on #204
I don't think so. There are acceptable string values (in the case of a closed list) and datatypes (usually a regex).

I don't think there is any way to declare what to do in the case of an absent attribute, since validation doesn't really care about the behaviour of software implementations.

[2016-06-22 19:37] lpugin commented on #204
You can do ```ResetStaffident()``` before

[2016-06-22 19:38] craigsapp commented on #204
Of course defaults are tricky: suppose `@staff="1"` is the default for the tempo element, but there is no staff "1".  Ideally the default in this case would be "display the tempo on the top staff in the system".

[2016-06-22 19:41] lpugin commented on #204
Exactly. So the best is still to expect a ```@staff```. I think it should actually be required by the schema, but maybe there is a reason why it is not.

[2016-06-22 19:44] craigsapp commented on #204
`ResetStaffident()`:  How I am going to remember CamElCasEs of meilib functions @ahankinson ? :-)

@lpugin: I notice that `@placement` has a default value of "above" and `@tstamp` has a default value of "1" for tempo elements in verovio, so why is `@staff` different?  (i.e., the schema should require `@staff` for tempo elements in MEI 3.0.1)

[2016-06-22 19:50] lpugin commented on #204
Where can you see this? This is an example where default values are set for ```place```
https://github.com/rism-ch/verovio/blob/master/src/floatingelement.cpp#L100-L126

[2016-06-22 20:08] craigsapp commented on #204
Yes, I meant `@place`.  I was reverse engineering from the MEIviewer data files:

[code]

First I did
[code]
but nothing showed, then I did
[code]
And at it showed, I was done (I will be complaining that the tempo mark is too low in my test case).

From:  http://music-encoding.org/documentation/3.0.0/tempo

So `@staff` is a manditory optional attribute :-)

Here is the documentation for `@place` o

[2016-06-22 20:39] ahankinson commented on #204
[code]
I think it's a Verovio problem.

[2016-06-22 20:41] craigsapp commented on #205
[code]

Ick.  In any case I am not creating a static tempo marker :-)

[2016-06-22 21:00] lpugin commented on #205
Then you need to use UTF8to16()

[2016-06-22 21:00] #205 closed

[2016-06-22 21:02] lpugin commented on #204
The CamelCase in Staffident is a MEI issue

[2016-06-23 00:06] craigsapp opened #206 "Grace note beams + regular beams interaction"
In the following verovio rendering, the grace note beam is touching a regular beam.

![screen shot 2016-06-22 at 4 52 37 pm](https://cloud.githubusercontent.com/assets/3487289/16287677/df1553ee-3899-11e6-9816-18b23ef70df4.png)

When beams are revised, beams such as this should be monitored for collisions.

Normally the larger beam would expand, but in this case the grace note stem lengths are too

[2016-06-24 06:15] rettinghaus opened #207 "8va mark not aligned to notehead"
As seen in the corresponding commits from @craigsapp the 8va is not aligned to startid note but too far to the left.

[2016-06-24 23:17] craigsapp opened #208 "Horizontal tuplet bracket on staffline"
When a tuplet bracket is horizontal, verovio should check to see if it is on top of a staff line, and move it off of the line:

![screen shot 2016-06-24 at 4 12 43 pm](https://cloud.githubusercontent.com/assets/3487289/16352805/c9af044e-3a26-11e6-8c5b-9020eb6b204c.png)

Test MEI data:

[code]

[2016-06-25 22:15] craigsapp opened #209 "triplet whole note bracket missing"
For triplet whole notes, tuplet brackets seem to be missing:

![screen shot 2016-06-25 at 3 03 21 pm](https://cloud.githubusercontent.com/assets/3487289/16359382/2848326c-3ae7-11e6-8719-9243ab20ef36.png)

Tuplet tag with `@bracket.visible="true"`:

[code]
Here is data for the above rendering:

[code]

When I do the same for triplet half notes, the rendering is correct:

![screen shot 2016-06-25 at

[2016-06-25 23:21] craigsapp opened #210 "tuplet@bracket.place is ignored"
Verovio seems to be ignoring tuplet@bracket.place, as shown in the following example:

![screen shot 2016-06-25 at 4 16 39 pm](https://cloud.githubusercontent.com/assets/3487289/16359584/93d3ce52-3af0-11e6-8501-66b049fa199f.png)

The tuplet element tag has these attributes:

[code]

MEI data for above rendering:

[code]

[2016-06-25 23:47] craigsapp opened #211 "Tuplet bracket inside of beam"
When a tuplet bracket should be displayed inside of a beam, it is not:

![screen shot 2016-06-25 at 4 45 39 pm](https://cloud.githubusercontent.com/assets/3487289/16359708/5b28a880-3af4-11e6-8b8a-b606a313b77f.png)

Tuplet tag:

[code]
MEI data:

[code]

[2016-06-26 00:11] craigsapp opened #212 "tuplet@num.format ignored"
In the following example, `tuplet@num.format="ratio"` is ignored:

![screen shot 2016-06-25 at 5 08 25 pm](https://cloud.githubusercontent.com/assets/3487289/16359776/7253a8ea-3af7-11e6-8c1d-abd67bee92f6.png)

I would expect the tuplet to say "10:6" rather than "10".

Tuplet tag's attributes:

[code]

MEI data

[code]

[2016-06-26 00:16] craigsapp opened #213 "dehorizontalized beam"
Here is a strange condition for beams that I noticed:

![screen shot 2016-06-25 at 5 14 11 pm](https://cloud.githubusercontent.com/assets/3487289/16359798/57ca949c-3af8-11e6-9790-4c472fc0ff95.png)

The beam in both cases should be horizontal, but the second one has an angle.  Perhaps it is the result of a bug?

MEI data:

[code]

[2016-06-26 09:14] rettinghaus commented on #212
You wouldn't expect this in every case. So how should Verovio know what to do?

[2016-06-26 10:21] craigsapp commented on #212
In this case i specifically requested the tuplet to be displayed as a ratio: `num.format="ratio"`; otherwise, I would expect verovio to usually choose the style of `num.format="count"`.  For the converter I am choosing the "ratio" display if the duration of the tuplet is a dotted rhythm in a simple meter (dotted half in 4/4 for this case).  If the meter is compound, such as 6/8, I would choose the

[2016-06-26 17:36] craigsapp opened #214 "Whole-note ledger lines too short"
Ledger lines for whole notes are too short:

![screen shot 2016-06-26 at 10 12 47 am](https://cloud.githubusercontent.com/assets/3487289/16363661/8eef1748-3b86-11e6-8d2b-98fcb02f511a.png)

Compare to SCORE:

![screen shot 2016-06-26 at 10 14 13 am](https://cloud.githubusercontent.com/assets/3487289/16363674/d290e4b8-3b86-11e6-99e2-048d57b48040.png)

Here is a comparison of the SCORE whole-note, ha

[2016-06-26 21:23] craigsapp opened #215 "Setting color of notes/rests?"
How do I color notes?

When I try this:

[code]

I get the error:

[code]

I see AttColor::SetColor(string) in libmei/atts_shared.h

The AttColor is not listed as a parent class of Note, but if I add it, I can use:

[code]
But the output SVG and MEI files do not have color attributes.

[2016-06-27 02:11] craigsapp opened #216 "breve-length mrests"
When the meter represents a breve (double-whole note) or larger, the whole-measure mrest should be displayed as a breve rest rather than a whole rest:

![screen shot 2016-06-26 at 7 07 55 pm](https://cloud.githubusercontent.com/assets/3487289/16366789/4e51a07a-3bd1-11e6-8900-fb623eb71350.png)

(also in 3/1 type meters)

Example MEI data:

[code]

[2016-06-27 03:50] craigsapp opened #217 "Accidental kerning case to consider for offset noteheads"
For this MEI data:

[code]

Verovio renders as:

![screen shot 2016-06-26 at 8 38 55 pm](https://cloud.githubusercontent.com/assets/3487289/16367958/084906c4-3bde-11e6-8bed-c242c1d52dcc.png)

The space between the natural sign and the chord is a bit wide.

Here are sample typesettings of this chord from various publishers:

![screen shot 2016-06-26 at 8 37 34 pm](https://cloud.githubusercontent.co

[2016-06-27 04:29] craigsapp commented on #194
I am thinking maybe a vector of strings which works like object::SetStaff() (and such as object::SetClass() and object::AddClass())  would be nice, but a single string would also work (but give more opportunities for programmer errors).  Should class names be unique?  If so, even a std::set or std::map might work.

[2016-06-27 06:28] lpugin commented on #215
Yes, you would still need to change the color before drawing it.

Actually the best would be to add the interface to LayerElement directly so we have it for all of them. Then in View::DrawLayerElement check if the color is given and change the m_currentColor before drawing and reset it at the end.  Something like

[code]

You would still need to read / write the color (in iomei.cpp) in ReadLayerEl

[2016-06-27 06:33] lpugin opened #218 "Review tuplets"
Tuplets needs to be reviewed:
- [x] #6
- [x] #99
- [ ] #146
- [x] #208
- [x] #209
- [x] #210
- [x] #211
- [x] #212
- [x] #257
- [x] #417
- [x] #553
- [x] #621

[2016-06-27 06:35] #208 closed

[2016-06-27 06:35] #209 closed

[2016-06-27 06:35] #210 closed

[2016-06-27 06:35] #211 closed

[2016-06-27 06:35] #212 closed

[2016-06-27 11:02] lpugin commented on #194
OK. IK would suggest to start with just a std::string. If people need something more sophisticated we can change this eventually, but since it is not supported in MEI I actually find it over the top to do more than this for now. Is this enough for you?

[2016-06-27 11:04] craigsapp commented on #194
That will work great.  I can encapsulate the functionality so that if the interface changes, it will be easy to update.

[2016-06-27 11:15] lpugin commented on #194
OK, good. In order to have it in the SVG then the only method you have to modify is SvgDeviceContext::StartGraphic. (See https://github.com/rism-ch/verovio/blob/develop/src/svgdevicecontext.cpp#L145-149)

[2016-06-27 15:28] pe-ro commented on #204
Let's compile a list of attribute class names that need modification.  Andrew has already suggested changing `att.staffgroupingsym` and `att.staffident` to `att.staffGroupingSym` and `att.staffIdent` in https://github.com/music-encoding/music-encoding/issues/309.  Other suggestions?

[2016-06-27 15:40] lpugin commented on #204
Attribute class names might be changed, but this will not change anything for Verovio members since all attribute names are lowercase.

[2016-06-27 15:41] ahankinson commented on #204
Won't `Staffident` become `StaffIdent` if the attribute class names are changed?

[2016-06-27 15:45] pe-ro commented on #204
No!  The name of the attribute class and the name of the attribute are independent of each other.  Changing the name of the class to `att.staffIdent` has no effective on the name of the attributes in that class.
[code]

[2016-06-27 15:47] pe-ro commented on #204
There is no attribute called `staffident`.

[2016-06-27 15:57] pe-ro commented on #204
Attribute default values are a bad idea.  See Harold, Effective XML, p. 105 --

"For maximum portability and robustness, include all necessary information in the instance document itself."

This would seem to make a case for requiring any attribute for which a default value is necessary.  However, other circumstances, argue against that.  For instance, there would be high degree of redundancy in a

[2016-06-27 17:51] craigsapp opened #219 "Accidental collisions between layers"
This is a subcategory of note collisions in different layers (particularly when the notes between the layers are at an interval of a 2nd), which I am presuming you already know about :-)  :

![screen shot 2016-06-27 at 10 38 01 am](https://cloud.githubusercontent.com/assets/3487289/16389556/577ffe8a-3c53-11e6-8640-a240e08ad122.png)

Here is an example showing that the accidental layout should also

[2016-06-27 19:29] craigsapp opened #220 "spacing of accidentals to noteheads"
In general, natural signs appear to be further spaced from notes than sharps in verovio:

![screen shot 2016-06-27 at 11 56 38 am](https://cloud.githubusercontent.com/assets/3487289/16391934/4263c21a-3c5e-11e6-844c-dbb2d8e9f3ce.png)

It is more noticeable at smaller scales (see next message, as this was printed with Bravura):

![screen shot 2016-06-27 at 12 19 10 pm](https://cloud.githubuserconten

[2016-06-27 19:59] craigsapp commented on #220
Maybe this issue is really caused by the use of different fonts.

Here is some music in Leipzig, with naturals spaced correctly:

![screen shot 2016-06-27 at 12 52 50 pm](https://cloud.githubusercontent.com/assets/3487289/16393552/33298ef8-3c66-11e6-93f7-30b15187a16b.png)

Here is the same music using Bravura, with naturals too far from their noteheads:

![screen shot 2016-06-27 at 12 52 39 pm](ht

[2016-06-27 22:09] craigsapp opened #221 "Default input type"
The default input type for verovio has changed from PAE to MEI?

If so, the comment on line 171 of main.cpp should be updated:

https://github.com/rism-ch/verovio/blob/master/tools/main.cpp#L171-L172

[code]

And the -h output should be adjusted on line 79:

https://github.com/rism-ch/verovio/blob/master/tools/main.cpp#L79

to say "(default is mei)".

[2016-06-27 22:20] craigsapp opened #222 "Fix options for MEI"
The "-t mei" option for verovio outputs the post cast-off version of the MEI data that is segmented into pages.  It would be useful to have a way of outputing the MEI data from importers _before_ being cast-off.

Sample music:

![screen shot 2016-06-27 at 3 16 35 pm](https://cloud.githubusercontent.com/assets/3487289/16397569/2ea51f3c-3c7a-11e6-89b1-1e6f2775fa85.png)

Current output from MEI:

[co

[2016-06-28 06:16] lpugin commented on #222
You can already do this. You need to set the ```--all-pages``` option. (If you also set ```--no-layout``` as well no layout will be performed, so it will be faster but the output will be the same anyway). However, this will not work with standard output, only with a file output.

[2016-06-28 06:17] lpugin commented on #221
The comment indeed needs to be updated

[2016-06-28 07:08] craigsapp commented on #222
Yes... that is very obvious.  Your story checks out.  Perhaps add an additional option called `--raw-mei` or `-t raw-mei` which would turn on both `--all-pages` and `--no-layout` to make that functionality more obscure?

For the option `--all-pages`, what does "Output all pages with one output file per page" mean with respect to `-t mei`?  The program is 30% faster when `--no-layout` is also given

[2016-06-28 07:09] craigsapp commented on #222
And it would be useful to allow `--raw-mei` to output to standard output, as there is only one file ever output.

[2016-06-28 07:16] lpugin commented on #222
Yes, we need to rethink this. Actually the default with ```-t mei``` should be all pages, in score-based MEI and without doing the layout. Then if a page number is provided (```--page 1```) then it should output the page-based MEI for the corresponding page. File and standard output should be supported in any case. OK?

[2016-06-28 07:26] craigsapp commented on #222
Yes, I like that.

[2016-06-28 07:33] craigsapp commented on #221
I could do it :-)  Just making an observation of a default behavior change...  In any case, maybe this week I will implement the auto-detect functionality previously discussed, so that if `-f type` is not given, it auto-detects the input format (that would change the default behavior yet again).

Do I have to be prepared for UTF-16 XML files being input?  UTF-32?

For string input it will be easy

[2016-06-28 08:26] lpugin commented on #221
Thanks ;-)

As you have probably noticed only UTF-16 is handled for now. This was added because SibMEI writes UTF-16. I don't think we need UTF-32 now unless you need it. It will not change the entire flow if we want to add it eventually.

Yes indeed. We could restrict it to UTF-8 only. However, this will not solve the issue that it needs to be read twice for the auto detect. In any case it would

[2016-06-30 13:33] craigsapp opened #223 "Strange space after grace notes in certain conditions"
Here are two views of m16 of Der Lindenbaum in the Verovio viewer:

![screen shot 2016-06-30 at 6 27 43 am](https://cloud.githubusercontent.com/assets/3487289/16489897/5725cb5a-3e8c-11e6-861f-b222da8e1e69.png)
![screen shot 2016-06-30 at 6 29 11 am](https://cloud.githubusercontent.com/assets/3487289/16489900/5a63443c-3e8c-11e6-9af6-bd00360e2854.png)

The grace notes in m16 are spaced correctly whe

[2016-07-01 20:41] craigsapp commented on #222
I have thought of a problem with this system.  Basically it is OK:

(1) -t mei outputs the non-paged MEI data (or whatever the input/converted MEI data is before it is paged).
(2) --page # would trigger the layout process, and return a single page.

The problem is that there will be cases where all pages of paged MEI data will be wanted.  The current system would require re-layout of the entire fi

[2016-07-01 21:04] craigsapp opened #224 "spacing interaction with lyric text"
In the following example:

![screen shot 2016-07-01 at 1 50 34 pm](https://cloud.githubusercontent.com/assets/3487289/16534239/20fcfb22-3f93-11e6-96f2-a589fab44011.png)

Verovio is gratuitously adding space before the D (re) on the second staff in order to avoid overlapping with the syllable "-mo-" .

However, the re is also being sung to the syllable "-mo-", so there should not be any accommodati

[2016-07-03 16:11] lpugin commented on #222
It think we could add a --page-based-mei option for this. Even though I am not sure people are interested to have page-based MEI.

[2016-07-03 16:12] lpugin commented on #222
I have renamed the issue

[2016-07-04 04:10] craigsapp commented on #172
This would be handy (I would use it for analytic phrase slurs in the Humdrum importer).

[2016-07-04 04:41] craigsapp opened #225 "justification of stem-side slurs"
Stem-side slurs typically should be aligned to note stems rather than the centers of noteheads.

Compare this rendering in verovio with a hand-engraved rendering:

![screen shot 2016-07-03 at 9 09 11 pm](https://cloud.githubusercontent.com/assets/3487289/16550692/e2cfb84a-4162-11e6-8fdb-94855aa066fa.png)
![screen shot 2016-07-03 at 9 08 14 pm](https://cloud.githubusercontent.com/assets/3487289/165

[2016-07-04 15:25] craigsapp opened #226 "interesting offset note accidental case"
Here is an interesting case of accidental placement.

Verovio rendering:

![screen shot 2016-07-04 at 8 01 11 am](https://cloud.githubusercontent.com/assets/3487289/16564713/e36bbffa-41bd-11e6-8012-b95c7187bbaa.png)

This is following the rule that the top accidental is placed closest to the chord notes.

But in manually typeset music, the lower accidental is placed closer to the  noteheads since

[2016-07-04 15:48] craigsapp opened #227 "slur direction changes across linebreaks"
Here is a case of a slur which changes direction across a linebreak in a verovio rendering.  In general the slur direction should be preserved across linebreaks; otherwise, the change in direction is confusing.

![screen shot 2016-07-04 at 8 44 45 am](https://cloud.githubusercontent.com/assets/3487289/16565686/d017f67a-41c3-11e6-8538-7ed17213b8c5.png)
![screen shot 2016-07-04 at 8 44 53 am](https:

[2016-07-04 16:06] craigsapp opened #228 "Slurs on tips vs. side of stems"
Sometimes having slurs attached to stem sides is nicer than attaching to the stem tips, but it is less common in real music compared to verovio renderings.

Here is a case where it is bad:

![screen shot 2016-07-04 at 8 58 48 am](https://cloud.githubusercontent.com/assets/3487289/16565968/c9a34c52-41c5-11e6-9bc8-bc388b8d033c.png)

The manual typesetting version:

![screen shot 2016-07-04 at 8 58 3

[2016-07-04 16:20] craigsapp opened #229 "temporal bug in clef changes"
I am trying to convert the following Humdrum data into MEI for verovio:

[code]

It has a clef change at the end of the first measure so that the next measure is in bass clef.

The expected rendering in verovio:

![screen shot 2016-07-04 at 9 15 01 am](https://cloud.githubusercontent.com/assets/3487289/16566267/db348db2-41c7-11e6-832e-5251bed593b6.png)

But instead I get this rendering:

![screen

[2016-07-04 17:11] craigsapp opened #230 "slur placement on stemless chords"
Here is an example bug in verovio rendering of slurs that start on stemless chords (whole-note chords).

Test Humdrum data:

[code]

Verovio rendering:

![screen shot 2016-07-04 at 10 02 21 am](https://cloud.githubusercontent.com/assets/3487289/16566985/71131140-41ce-11e6-9c2e-9aba382cc7ea.png)

When the slur starts on the whole-note chord, the slur is not placed properly.

MEI data generated by v

[2016-07-05 03:15] craigsapp opened #231 "Don't allocate extra space for clef change on other staves"
In the MEI viewer samples, Chopin Etude Op. 10 No. 9, m65, there is a clef change in the bottom staff:

![screen shot 2016-07-04 at 8 04 38 pm](https://cloud.githubusercontent.com/assets/3487289/16572926/0d1816f4-4223-11e6-9d24-e0798661e713.png)

The notes in the top staff are moved to accommodate the clef, but they should not.   Here is a sample hand typesetting of these measures:

![screen shot

[2016-07-05 04:40] craigsapp opened #232 "Strange interaction between -h option and beam angles"
Here is the standard output of verovio for the file
https://raw.githubusercontent.com/rism-ch/verovio/gh-pages/examples/downloads/Chopin_Etude_op.10_no.9.mei

[code]

Rendering of the first system:

![screen shot 2016-07-04 at 9 35 57 pm](https://cloud.githubusercontent.com/assets/3487289/16574023/56987c04-422f-11e6-97e8-0f652dc13238.png)

Now adding `-h 20000` to the command-line:

[code]

Produc

[2016-07-05 13:23] craigsapp opened #233 "Setting midi.bpm"
Is there a way to set @midi.bpm of tempo (or scoreDef) elements?   Tempo::SetMidiBpm() does not exist.  I see AttMiditempo::SetMidiBpm() in libmei, but Tempo does not inherit AttMiditempo directly or indirectly through an interface.

[2016-07-07 03:52] craigsapp opened #234 "default slur curvature based on mixed stem directions"
In m17 of the Chopin Etude op 10, no 9 examples in the MEI viewer, there is a slur which is correctly placed above the staff:

![screen shot 2016-07-06 at 8 38 13 pm](https://cloud.githubusercontent.com/assets/3487289/16641896/01f76200-43ba-11e6-98c8-d7b0338b7a14.png)

The problem is that the direction is encoded in the attributes for the slur:

[code]

But by default verovio displays this below i

[2016-07-08 00:00] craigsapp commented on #196
Regarding ties, would it be proper or better to indicate a gestural duration on the first note in a tied note group, and then a zero gestural duration for other notes in the tied group?  I can generate that information easily in the Humdrum importer, then I would not have to hear the non-tied notes :-)

Here is a distilled test file which should only have one note attack:

![screen shot 2016-07-07

[2016-07-12 00:45] craigsapp opened #235 "Support for MIDI export of repetitions"
Is there a way of encoding repeats in MEI which verovio, and more particularly the verovio MIDI export understands?

Example work with one simple repeat (no separate second ending):
     http://verovio.humdrum.org/?file=chorales/chor001.krn

![screen shot 2016-07-11 at 5 40 56 pm](https://cloud.githubusercontent.com/assets/3487289/16751467/a440544a-478e-11e6-8d3e-4819653b0e26.png)

The next compli

[2016-07-12 06:21] craigsapp opened #236 "Clef changes at system break"
Clef changes at system breaks are incorrect in the following verovio rendering:

![screen shot 2016-07-11 at 11 15 11 pm](https://cloud.githubusercontent.com/assets/3487289/16756942/848e350c-47bd-11e6-95ff-10e71d1e22c5.png)

There should be a small bass clef at the end of staff 1 in the first system.  Then at the start of staff 1 on the second system, there should be a large bass clef.

Also, ther

[2016-07-12 06:32] craigsapp opened #237 "MIDI rendering of grace notes"
It would be nice to render grace notes in MIDI output from verovio.  A basic implementation should be easy since the midifile library allows inserting notes backwards in time.  The number of grace notes would be counted and could be inserted with a constant small time unit increment backwards from the current beat.  One grace-note time unit back for a single acciaccatura, two units for the previou

[2016-07-12 17:05] craigsapp opened #238 "App behavior in non-MEI importers"
Here is a Humdrum file with two clefs, the original being a tenor C clef, and the modern being a vocal tenor clef:

[code]

I want the default rendering to be vocal tenor clef:

[code]

![screen shot 2016-07-12 at 9 45 12 am](https://cloud.githubusercontent.com/assets/3487289/16775419/5afc645e-4815-11e6-9fb4-5653577680a5.png)

And optionally rendered with the original clef:

[code]

![screen shot

[2016-07-12 17:13] lpugin commented on #238
Yes, this issue is indeed that the xPath filtering is being done when the file is loaded. The simplest work around would be to have importers reloading the data internally.

I am confused by this. Do you mean that you would like to see only the selected output in the MEI? Then why are you creating app/rdg in the first place? Also, I think it is a advantage for Verovio to keep all the data internal

[2016-07-12 17:17] craigsapp commented on #238
Yes, I am meaning something different than what you are thinking.  I am meaning that the xPath filtering should be applied to the output of the converter before rendering, not to the MEI output from verovio.

These seem the two paths of data entry:

`MEI load -> xpath -> rendering`

`non-MEI load -> MEI conversion -> rendering`

But the second should be

`non-MEI load -> MEI conversion -> xpath ->

[2016-07-12 17:19] craigsapp commented on #238
Where is the code for that?  Should that be done inside of each importer, or more likely, outside of the importer?

[2016-07-12 19:01] pe-ro commented on #238
If I may, I'd like to intervene here and say that Craig's markup is fishy; that is, the use of `<app>` with a single `<rdg>` element to "work in" an alternative clef is abusive.

The better option would be --
[code]
where  `<choice>` provides two options -- `<orig>` for the original staff definition and `<reg>` for the "regularized" definition.  At present, this is invalid because `<staffDef>` isn

[2016-07-13 03:20] craigsapp commented on #238
I thought anything is allowed in MEI :-)

Your `<choice>` proposal for alternate clefs looks good, as this is more of a old/new display styling rather than specific source encodings.

That will probably be the most useful for what I am imagining, so the first encoding sample is probably the one I would choose:

[code]

How should verovio treat such choices?  In most cases, I would want the `<reg>`

[2016-07-13 07:04] lpugin commented on #238
Probably outside the importer. You can do it here
https://github.com/rism-ch/verovio/blob/develop-humdrum/src/toolkit.cpp#L288

What you need to do here is to have a first ```HumdrumInput``` object that already import the ```data``` string in this block and then replace it with the MEI output of the humdrum import. ```input``` needs to be an MEIInput. Makes sense?

[2016-07-13 07:14] lpugin commented on #238
Regarding the handling of ```choice```, the plan is to select the first child by default unless an xpath query matches another one. This is somehow different than with ```app``` and ```rdg``` since there the behavior is to select the ```lem``` by default (if any, and whatever child it is), and if none the first ```rdg```. But because the content of a ```choice``` is much less predicable I do not t

[2016-07-13 07:58] craigsapp commented on #238
That sounds good.

[2016-07-13 08:00] lpugin commented on #238
@pe-ro

How different is this from ```app``` and ```rdg```, which can contain ```scoreDef```? I can see many cases where regularizing a ```scoreDef``` could be useful. For example

[code]

[2016-07-13 08:02] craigsapp commented on #238
I'll close this issue because I fixed XPath processing of Humdrum input. You can fix PAE, DARMS, and MusicXML if they ever have the need for XPath processing...

[2016-07-13 08:02] #238 closed

[2016-07-13 08:04] craigsapp commented on #238
Why are there two `<reg>s`?

[code]

[2016-07-13 08:06] lpugin commented on #238
I fixed my comment

[2016-07-13 08:44] lpugin commented on #234
We can certainly improve the automatic direction, but for rules that are "sometimes" applicable we will quite likely have to rely on explicitly encoded direction.

[2016-07-13 08:47] lpugin commented on #236
The clef change should appear at the end of measure 2 and not in measure 3. I guess this would also be the case without system break since usually a clef change in written in the preceding measure.

[2016-07-13 08:50] lpugin commented on #233
You can add it. You need to make ```scoreDef``` and ```tempo``` inherit from it and register it in the constructors, and reset it in ```Reset()```. You also need to read and write it in respectively MEIInput and MEIOutput.

[2016-07-13 12:03] donbyrd commented on #236
Gould (p. 8) makes it clear that it should be "before the barline", i.e., at the end of m. 2, regardless of the system break. This makes sense because if it was at the beginning of a measure it'd almost certainly require horizontal space of its own,  while if it's at the end of the previous measure there's a good chance it can share space with something happening on other staves, for example short

[2016-07-13 13:38] pe-ro commented on #238
You're correct -- there's no way to represent both layouts since this would make the markup non-declarative.

[2016-07-13 13:40] pe-ro commented on #238
@craigsapp

Because there are two alternative regularizations.

[2016-07-13 13:48] pe-ro commented on #238
@lpugin

[code]

I said I was reluctant, not opposed.  :-)  I agree that allowing this might be useful in some cases, but extra caution is required, since opening this door will admit the opportunity for a lot more and a lot more serious abuse.  Errors/ambiguity in `<scoreDef>` can have more serious consequences than elsewhere.  Again, I'm not against the idea.  I'd just like to see the idea more

[2016-07-13 14:00] lpugin commented on #238
I understand your worries, and I am perfectly aware that this can yield quite complex cases.

Use cases: I think the one with a regularized time signature is a good one. How would you encode it otherwise? You would need to do each for each ```staffDef``` separately within the ```scoreDef```. So instead of

[code]

Would you do?

[code]

Another typical use case would be regularizing key signature,

[2016-07-13 14:39] craigsapp commented on #234
The default rule should be if there are mixed stem directions in single-layer mode, then the slur should be placed above if no direction is specified; otherwise, there will be lots of unnecessary manual markup.  If not, then I will add an automatic placement in my Humdrum importer so that it will appear to behave like that...

[2016-07-13 15:05] pe-ro commented on #238
@lpugin:

I would --

1. Use `<scoreDef>` for information common to all the staff definitions: `@meter.count`, `meter.unit`, `@lines`.
2. Group the common time and the cut time "redeclarations" in `<orig>` and `<reg>`, respectively.
[code]

[2016-07-13 15:08] pe-ro commented on #238
Or in 2 `<reg>` elements when there is no "original" --
[code]

[2016-07-13 15:49] lpugin commented on #238
OK, this looks better but I am still not convinced because in such a case I would put the common information in the ```scoreDef``` and not repeat it in each ```staffDef``` in the ```scoreDef```.

Another question: would your proposal be included in a ```scoreDef/staffGrp``` or not?

[2016-07-13 15:50] lpugin commented on #238
@pe-ro  sorry, forget my question, I have the answer from your previous comment.

[2016-07-14 12:13] kepper commented on #238
Hi all,

the encoding below looks extremely dangerous to me. If we take a decision (and remove the choice), we end up with <staffDef> directly inside <choice>. Since this is CMN, I'd like to argue against this (and I believe we had reached a consensus on this before…). In CMN, everything outside of <measure> should be wrapped in a <scoreDef>, and inside <measure>, only <staffDef>s are permitted.

[2016-07-14 14:45] craigsapp opened #239 "Inaccurate or substituted font for lyrics?"
Related to observations and example data from commit https://github.com/rism-ch/verovio/commit/878cacfb80f3e62e27dbcb24034b557c107b18cd, it seems that the spacings for placement of lyric text are not using the correct font metrics, or the fonts are substituted when displaying an SVG image.   As spacing gets tighter and syllables get longer, hyphenation becomes less centered and can overlap syllabl

[2016-07-14 14:56] pe-ro commented on #238
@kepper:

There was no suggestion that `<staffDef>` be allowed to occur directly within `<choice>`.  `<choice>` groups alternative encodings -- it should only ever be allowed to contain elements that mark an editorial intervention.

Requiring the use of `<staffGrp>` to effect changes to a single staff creates a problem -- what's supposed to happen to the staves not mentioned in the new `<staffGrp>

[2016-07-14 14:56] craigsapp opened #240 "Remove text hyphens if no space."
Related to observations and example data for commit https://github.com/rism-ch/verovio/commit/878cacfb80f3e62e27dbcb24034b557c107b18cd, hyphens should be removed if there is not enough space between syllables:

![screen shot 2016-07-14 at 7 48 38 am](https://cloud.githubusercontent.com/assets/3487289/16843758/7bb16036-4997-11e6-98a0-a0cb26de409a.png)

In this case "Schätzchen" should be displayed

[2016-07-14 19:02] lpugin commented on #229
Fixed in d8be65507c7a8cfebc2d997dedd036c8317e728e

[2016-07-14 19:02] #229 closed

[2016-07-14 19:02] lpugin commented on #231
Fixed in d8be65507c7a8cfebc2d997dedd036c8317e728e

[2016-07-14 19:02] #231 closed

[2016-07-14 19:02] lpugin commented on #223
Fixed in d8be65507c7a8cfebc2d997dedd036c8317e728e

[2016-07-14 19:02] #223 closed

[2016-07-14 19:05] lpugin commented on #236
This needs to be fixed in the encoding.

[2016-07-14 19:05] #236 closed

[2016-07-14 19:09] lpugin commented on #106
Positionning of the repeats has been fixed in d8be65507c7a8cfebc2d997dedd036c8317e728e

I am changing the ticket to ending feature request

[2016-07-14 19:12] lpugin commented on #198
This was added to d8be65507c7a8cfebc2d997dedd036c8317e728e

However, at this stage there is no option to change the limit which is currently set at 80%

[2016-07-14 19:12] #198 closed

[2016-07-14 19:15] lpugin commented on #216
How about expecting a ```@dur="breve"``` in such cases?

[2016-07-14 21:11] pe-ro commented on #216
Ideally, Verovio should display the appropriate rest without getting any hints from the encoding.  If a context-less duration would be helpful, `@dur.ges` can be allowed on `<mRest>`.  Otherwise, the correct rest duration can be calculated based on the time signature or `@dur` can be used.  The use of `@dur` won't support a change of the time signature.

[2016-07-14 21:25] lpugin commented on #216
Yes, this makes sense.

[2016-07-14 22:02] pe-ro commented on #236
A naive question --

Is it possible for Verovio to supply a cautionary clef when a system break (encoded or necessitated by a change in layout) precedes a measure in which the clef changes?  For example, at the end of m. 1 when m. 2

- is preceded by a `<staffDef>` that declares a new clef --
[code]
- or has a `<staffDef>` or `<clef>` descendant which re-declares the clef --
[code]
[code]
[code]
?

[2016-07-15 00:08] craigsapp commented on #236
Yes, you are right: it is an encoding error.

With the fix:

![screen shot 2016-07-14 at 4 49 49 pm](https://cloud.githubusercontent.com/assets/3487289/16859354/047647ce-49e3-11e6-9d82-ed9424c6223e.png)

Although I now have a substitute issue to report :-)  The clef changes have too large of a gap to the barline.  The space should be about one staff line space or two diatonic steps, perhaps half o

[2016-07-15 00:54] craigsapp commented on #231
That is great!  Although I will be extra picky and point out that the spacing is a bit wide on each side of the clef.  This causes the clef to push the music on the top staff out a little:

![screen shot 2016-07-14 at 5 30 29 pm](https://cloud.githubusercontent.com/assets/3487289/16860236/db075a56-49ea-11e6-8168-244c28c28348.png)

The maximum margin around the clef should be about 1 staff space (2

[2016-07-15 01:03] craigsapp commented on #223
Looks great:

![screen shot 2016-07-14 at 6 02 02 pm](https://cloud.githubusercontent.com/assets/3487289/16860439/1d1b1476-49ed-11e6-9be1-0d15fb325b3a.png)
![screen shot 2016-07-14 at 6 01 16 pm](https://cloud.githubusercontent.com/assets/3487289/16860440/1fbcf064-49ed-11e6-9917-7111def018df.png)

[2016-07-15 01:09] craigsapp commented on #198
That will be nice even with the hard-coded cut-off until a more sophisticated measure layout system is implemented.

Two systems, using spacing factor 0.48:

![screen shot 2016-07-14 at 6 05 58 pm](https://cloud.githubusercontent.com/assets/3487289/16860516/c4ba195c-49ed-11e6-912d-69176b17ec6c.png)

Three systems using spacing factor 0.58:

![screen shot 2016-07-14 at 6 08 10 pm](https://cloud.git

[2016-07-15 08:00] lpugin commented on #236
@pe-ro : what is currently being implemented is indeed to show cautionary score definition information at the end of a system when necessary. This will includes clefs, but most importantly time and key signatures.

However: it seems that the case reported by @craigsapp is a different issue, namely where to put the ```clef```. As I said, this case is not directly related to the system break. With n

[2016-07-15 08:13] kepper commented on #238
Sorry, I wasn't specific enough. I meant `<staffDef>` _somewhere_ inside `<choice>`, so effectively in one if its childs. We're on the same page here.
I think it may cause quite a bit of grief when `<staffDef>` is directly allowed between measures. For instance, @lpugin pointed out (verbally…) that our musicxml2mei.xsl creates inconsistent markup: If a clef changes at the beginning of a measure, a

[2016-07-15 08:52] lpugin commented on #231
Yes, I am aware of this. There is also an issue with clef change with measures with mRests. However, fixing these will require some significant changes in the way clefs are aligned, so I'll leave them for now.

[2016-07-15 13:32] lpugin commented on #240
Fixed in 41931c916dd6a73442b27f1f715f1fda4a461e94

[2016-07-15 13:32] #240 closed

[2016-07-15 13:33] lpugin commented on #239
Fixed in 41931c916dd6a73442b27f1f715f1fda4a461e94

[2016-07-15 13:33] #239 closed

[2016-07-15 13:59] lpugin commented on #52
I am not sure what to do with this. Whole measure rests should be encoded as ```mRest```. There are properly centered. To be re-opened with concrete examples if necessary.

[2016-07-15 13:59] #52 closed

[2016-07-15 15:06] craigsapp commented on #229
Yeaaaay!  That makes piano music look much better.

![screen shot 2016-07-15 at 8 01 46 am](https://cloud.githubusercontent.com/assets/3487289/16878717/794b3396-4a62-11e6-9ee8-6aa906e95ebe.png)

I also like that the clef change does not disturb the spacing of the music, but ideally the clef change would be shifted a little to the right so that it is not as close to the note stem as it currently is

[2016-07-15 15:14] craigsapp commented on #239
The hyphen placement is improved, but not yet centered between syllables:

![screen shot 2016-07-15 at 8 11 15 am](https://cloud.githubusercontent.com/assets/3487289/16879054/c9c8c9f4-4a63-11e6-8e5d-370cdcc4dd37.png)

Do you see the same on your computer?

[code]

[2016-07-15 15:20] craigsapp commented on #240
It still looks the same:

![screen shot 2016-07-15 at 8 15 31 am](https://cloud.githubusercontent.com/assets/3487289/16879198/60ea31c4-4a64-11e6-9a6e-60eb60665659.png)

I have merged commit https://github.com/rism-ch/verovio/commit/41931c916dd6a73442b27f1f715f1fda4a461e94

![screen shot 2016-07-15 at 8 11 35 am](https://cloud.githubusercontent.com/assets/3487289/16879261/aebdcb86-4a64-11e6-89c4-e3

[2016-07-15 15:24] lpugin commented on #239
No, this is what I see. Maybe you need to reinstall it. The data in the resources (in ./data) was changed

![image](https://cloud.githubusercontent.com/assets/689412/16879418/cdb7da4e-4ab0-11e6-9844-52e484c12819.png)

[2016-07-15 15:31] lpugin commented on #240
Weird

![image](https://cloud.githubusercontent.com/assets/689412/16879645/ca6337f2-4ab1-11e6-8693-1cd38c4b92f0.png)

[2016-07-15 16:07] craigsapp commented on #240
Hmmm,  something must not have been recompiled.  I cleaned out the object files and recompiled and I now get what you have:

![screen shot 2016-07-15 at 9 00 44 am](https://cloud.githubusercontent.com/assets/3487289/16880601/decc66a6-4a6a-11e6-904b-4440da34e97a.png)

Ideally, the "chen" should be moved into the text element of "Schätz" since there should be no space between them (otherwise they lo

[2016-07-15 16:22] craigsapp commented on #239
I saw the new font files in ./data get downloaded, but yes, I should reinstall in /usr/local/share/verovio with "make install" in verovio/tools.  Now it looks perfect!

![screen shot 2016-07-15 at 9 21 14 am](https://cloud.githubusercontent.com/assets/3487289/16881154/971f617a-4a6d-11e6-99ea-e952c09a9ce3.png)

[2016-07-16 21:48] craigsapp opened #241 "cross-staff notes in secondary layers cannot find correct clef"
When cross-staff notes are present in layers other than the first one, they are displayed on the staff using the clef of the home staff rather than the away staff.

Correct display with only one layer in the top staff:

![screen shot 2016-07-16 at 2 35 10 pm](https://cloud.githubusercontent.com/assets/3487289/16897318/88d67d38-4b62-11e6-90db-730b954880d5.png)

MEI data:

[code]

Incorrect display

[2016-07-17 03:17] craigsapp opened #242 "MIDI rendering of double sharps/flats"
MIDI output from verovio does not process double sharps or flats properly.

Given this music:

![screen shot 2016-07-16 at 7 59 37 pm](https://cloud.githubusercontent.com/assets/3487289/16898462/53daf8c4-4b90-11e6-9259-ab351e2d8771.png)

(E, D-double-sharp, F-flat) | (F, G-double-flat, E-sharp) — @ahwitz is going to fix double sharps/flats in the notation rendering soon right? :-)

I should hear e

[2016-07-17 03:41] craigsapp opened #243 "Toolkit::GetMEI() naming convention"
The function `Toolkit::GetMEI()` does not exactly match the CamelCase pattern libmei, and should perhaps better be spelled `Toolkit::GetMei()`. MEI is an abbreviation treated as a word, so should just capitalize the first letter.  Compare to libmei functions: GetMm(), SetMmUnit(), SetMmDots(), SetVuHeight() (although not all libmei functions strictly follow this pattern).

Also `MeiOutput::SetScor

[2016-07-17 04:44] craigsapp commented on #233
Hmm.  Most MIDI enums/typedefs are missing from `libmei/atttypes.h` which prevents me from including `libmei/atts_midi.h` in other verovio files.  `libmei/atttypes.h` says it is generated automatically, so I cannot edit it (without losing the code when you regenerate it :-).

Needed enums/typedefs (probably in `libmei/atttypes.h`, but perhaps `include/vrv/attdef.h`):

* `data_MIDICHANNEL` (a numbe

[2016-07-17 16:17] craigsapp opened #244 "Augmentation dot placement"
In this graphical rendering:

![screen shot 2016-07-17 at 8 58 24 am](https://cloud.githubusercontent.com/assets/3487289/16901584/c3378888-4bfc-11e6-9abd-673d3df68eba.png)

The augmentation dot on the first note of the bottom layer is in the wrong staff space.  It should be  below the note rather than above due to the occurrence of two voices; otherwise, the augmentation dot looks like it belongs

[2016-07-18 10:46] lpugin commented on #243
Not sure about this. I am fine with MEI all in capital letters in the same way MIDI is.

[2016-07-18 12:57] #243 closed

[2016-07-18 14:10] craigsapp opened #245 "Clef change interaction with mRest"
When a clef change follows an mRest, the clef change is rendered in front of the mRest rather than behind it:

![screen shot 2016-07-18 at 6 59 50 am](https://cloud.githubusercontent.com/assets/3487289/16917205/727bc97c-4cb5-11e6-84e5-d0a235cc48d6.png)

The correct rendering is:

![screen shot 2016-07-18 at 6 59 50 am](https://cloud.githubusercontent.com/assets/3487289/16917322/02140176-4cb6-11e6-

[2016-07-18 14:24] pe-ro commented on #233
One-based channel numbers are common and arguably more human-readable, so MEI does indeed use 1 - 16.

MIDI values, however, range between 0 and 127.

MIDIBPM and MIDIMSPB are both currently defined as positive integers.  I'm fine with changing the names and the datatypes to data_MIDIQPM (quarter-notes per minute) and data_MIDIMSPQ (microseconds per quarter-note), respectively.  Please create an i

[2016-07-18 15:59] craigsapp opened #246 "Grace note slurs"
Grace notes with slurs to regular notes should slur to noteheads in the following sorts of cases (or more precisely, just a small horizontal slur to the following stem):

![screen shot 2016-07-18 at 8 51 46 am](https://cloud.githubusercontent.com/assets/3487289/16921150/3163d6fe-4cc5-11e6-9b1c-d5f8eb05caaa.png)

Here is the verovio rendering, where the slur goes from grace note to regular note's s

[2016-07-18 23:31] craigsapp commented on #98
Here is another example:

![screen shot 2016-07-18 at 4 06 08 pm](https://cloud.githubusercontent.com/assets/3487289/16933570/64b5bc78-4d03-11e6-93d6-d6480ec8117d.png)

Here is the current verovio rendering:

![screen shot 2016-07-18 at 4 17 30 pm](https://cloud.githubusercontent.com/assets/3487289/16933598/c60ff3f8-4d03-11e6-9e03-2e45a3f90f08.png)

Here is the current encoding in MEI  (with a lay

[2016-07-19 05:29] craigsapp opened #247 "dir element layout interactions with slurs"
Here is an example case to refine with layout of `<dir>` elements and slurs:

![screen shot 2016-07-18 at 10 12 01 pm](https://cloud.githubusercontent.com/assets/3487289/16939270/d6addd20-4d34-11e6-883a-cd4ea074f7d4.png)

The slur is placed in a big rectangular box for layout of the `<dir>`:

![screen shot 2016-07-18 at 10 12 01 pm](https://cloud.githubusercontent.com/assets/3487289/16939319/5d7c5

[2016-07-19 12:24] donbyrd opened #248 "Directives in mensural notation aren't drawn"
In mensural notation (i.e., on staves with a mensural notation.type), <dir> directives aren't drawn. See the attached file.
[AllMensuralDurs.txt](https://github.com/rism-ch/verovio/files/371416/AllMensuralDurs.txt)

[2016-07-19 13:02] lpugin commented on #248
This is indeed not supported. I changed the label to feature request.

[2016-07-19 13:19] donbyrd commented on #248
You're' the boss, but it seems to me it obviously _should_ work, and even the experts were surprised it didn't; therefore it's a bug. I'd be interested in hearing why you disagree, but it's really no big deal.

[2016-07-19 13:33] lpugin commented on #248
```dir``` within ```layer``` is not implemented, so I don't think it is a bug. What is a bug is the additional staff that is shown when reading mensural data with ```dir``` within ```section```, but the example you attached is a former one.

[2016-07-19 14:19] craigsapp opened #249 "--max-systems-per-page option"
It would be useful to have an option called `--max-systems-per-page` (`maxSystemsPerPage`).  This would allow in particular generating incipits based on the first system of a work, and would otherwise allow extracting separate SVG images for each system (which I can imagine would be useful as well).

Is there currently otherwise a robust way of extracting an incipit?  If I make the page height too

[2016-07-19 14:55] craigsapp commented on #192
I have correctly implemented NO_HUMDRUM_SUPPORT.  When that is turned on, the emscripten-compiled toolkit compiles 412 kB smaller, which is 9.6% of the total size of the javascript executable.  When Humdrum support is disabled, a Humdrum file can be loaded, but the SVG output will be blank.

The emscripten build.sh script is not linked to cmake Makefile generation?  I had to manually activate the

[2016-07-19 15:29] donbyrd commented on #248
OK, I see. But fixing bug seems like it'd accomplish very little. Giving an error message for the illegal placement of the dir would be more helpful. Though I suppose validating the MEI file would do that?

[2016-07-19 15:58] lpugin commented on #248
Yes indeed, the MEI is actually not valid, so there is no bug at all.

[2016-07-19 17:35] pe-ro commented on #248
Don's example file validates against 3.0.0 (http://www.music-encoding.org/schema/current/mei-Mensural.rng).

[2016-07-19 18:41] craigsapp opened #250 "cross-staff stemed notes and tie interactions"
Here is a case of cross-staff stems (or notes :-) which are causing collisions between ties between notes attached to different staves:

![screen shot 2016-07-19 at 11 35 31 am](https://cloud.githubusercontent.com/assets/3487289/16962060/ef411ec2-4da4-11e6-9a9f-969fb607c139.png)

In this case, the notes crossing the staff should be treated similar to a separate layer on the second staff, and the t

[2016-07-19 19:36] pe-ro commented on #248
Don's question raises an interesting issue -- Currently, some control events are allowed within `<layer>` when the mensural module is turned on.  But, I'm wondering if this is really desirable.  Perhaps it would be better to allow these control events (dir, dynam, ornam, phrase, and tempo) within `<staff>` instead. The presence/values of `@staff` and `@layer` can be disallowed/controlled via Schem

[2016-07-19 22:52] donbyrd commented on #248
I assume you mean my example file with your correction? Or does my original file (improperly) validate?

[2016-07-20 01:02] pe-ro commented on #248
I meant the file I corrected.  Your original file did not validate.

[2016-07-20 01:40] donbyrd commented on #248
Glad to hear that :-) .

[2016-07-20 05:40] craigsapp commented on #242
Commit https://github.com/rism-ch/verovio/commit/8e956b4597f6b6cbc7e01a9e0f5ea577f552fb43 fixes this problem.

[2016-07-20 05:40] #242 closed

[2016-07-20 08:48] lpugin commented on #248
Yes, what I meant was that Don's original file did not validate, so it is not a bug in Verovio to create a third staff. No big deal anyway.

Regarding the placement of control events, having them within ```staff``` instead of ```layer``` would be more similar to CMN in the sense that they would be place after the music content and have their placement encoded with a reference to an id or a timesta

[2016-07-20 08:49] lpugin commented on #242
Thanks

[2016-07-20 09:00] lpugin commented on #98
The plan is to rely on ```@stem.dir```. Eventually we could try to auto-detect cases where it is expected. As you say it can be expected in some cases but not only and not always with cross staff beams. It will be possible to make a reasonable decision only for extreme cases. Your latest example is a typical case where I am not sure you would expect it since having all stems going down would look

[2016-07-20 09:03] lpugin commented on #250
Cross-staff notation has not been properly implemented yet. It should be possible to detect such cases. In the meantime you can use ```@curvedir``` on ```tie```.

[2016-07-20 09:09] lpugin commented on #192
Correct, fixed.

[2016-07-20 09:22] lpugin commented on #249
It makes sense to have this option.

[2016-07-20 09:39] lpugin commented on #233
data_MIDIVALUE
data_MIDIBPM
data_MIDIMSPB

Yes, they all have to be defined in ```./include/vrv/attdef.h``` and have the reading writing corresponding methods in ```./include/vrv/att.h``` (with the corresponding implementation.

I guess they all needs to be typedefs or int or double. Max and min values can be checked in reading and writing methods.

Just make the change if you need them.

Percent:

[2016-07-20 11:03] lpugin commented on #145
I will actually close this for now until it is clarified in MEI. See https://github.com/music-encoding/music-encoding/issues/324

[2016-07-20 11:03] #145 closed

[2016-07-20 11:06] lpugin commented on #106
Added in 5c220491196aa428f99ea9118bd027906de52c03. Documentation will be added in the next release.

[2016-07-20 11:06] #106 closed

[2016-07-20 15:31] craigsapp commented on #221
That seems like a job for @ahankinson  :-), but if he sends me a sample UTF-16 file for testing, I can do it.  I used to have Sibelius on my computer until I got the hard disk replaced last year...

[2016-07-20 15:52] pe-ro commented on #233
I don't know that there's any way to revert comments.  But, it's not a huge problem.

MEI is intended to be at least somewhat legible to humans.  Also, all the MIDI sequencers I've seen label channels and tracks starting with "1".  Making MEI start with "0" requires a conversion to/from the human-readable label.  Seems to me that using 1-based channel numbers to start with makes more sense.

How a

[2016-07-20 18:12] craigsapp commented on #233
:-)

In programming contexts, "0" should always be used as MIDI channel 1, since that is how it is implemented in the MIDI standard.  I typically avoid the problem by calling it the "first" MIDI channel.  MEI is a quasi-programming interface, so it can go either way.  Since you started with labeling the first MIDI channel "1", it should stay that way.  I am just complaining from the programer side

[2016-07-20 18:32] craigsapp commented on #233
More concise:
     `[0-9]+(\.[0-9]+)?%` == `[0-9]+(\.[0-9][0-9]*)?%`

That would be good, provided you want to disallow `82.%`.  This makes sense, since `.82%` is already disallowed.

If you want to allow both corner cases, the only way would be two sub-cases using an *or* operator:

`[0-9]+(\.[0-9]*)?%|\.[0-9]\+%`

or

`([0-9]+(\.[0-9]*)?|\.[0-9]\+)%`

 Are anchors to the start/end of the string

[2016-07-20 18:34] rettinghaus commented on #249
For rendering incipits it would be nice to have an option just taking the encoded incipit from the MEI file, so you don’t have to fiddle with an XSLT.

[2016-07-20 18:38] pe-ro commented on #233
I'm pretty sure the *or* is permissible so, `([0-9]+(\.[0-9]+)?|\.[0-9]\+)%` is the best solution.  But, I'll test to make sure.

Patterns are always anchored to the start and end of a string.

[2016-07-20 19:08] pe-ro commented on #248
@lpugin, I think you're right -- it makes more sense to put control events within `<staff>` than within `<layer>` in mensural notation.  I'll work out how to get them there without allowing them in CMN.

I'll rely on you and/or Don to bring this up on MEI-L.

[2016-07-20 19:10] craigsapp commented on #249
That would be good too.  Something like

[code]

A nice enhancement for `--incipit` is that if there were not an incipit encoded in the data, the program would set maxSystemPerPage to 1 and page to 1 in order to output the first system of music.

Is there a way of using `--appXPathQuery` to extract an explicitly encoded incipit?  Perhaps too complicated as this would probably require re-arranging

[2016-07-21 00:19] craigsapp opened #251 "Dyanmics/Hairpin placement priority/behavior"
Here is an example of poor placement of dynamics and hairpins:

![screen shot 2016-07-20 at 5 12 59 pm](https://cloud.githubusercontent.com/assets/3487289/17007414/6d8a495e-4e9d-11e6-860e-315c4ae7c4c1.png)

When a dynamic and a hairpin begin at the same timestamp/note, the dynamic should be given first priority in layout placement.  Then the hairpin should be adjusted horizontally to fit adjacent

[2016-07-21 01:13] craigsapp opened #252 "fermata on mrest"
Fermatas are not yet implemented on mrests.

(1) There is no `MRest::SetFermata()` function.
(2) When loading MEI data into verovio which has `MRest@fermata`, that attribute is ignored.

Sample MEI data:

[code]

Current rendering in verovio:

![screen shot 2016-07-20 at 6 08 14 pm](https://cloud.githubusercontent.com/assets/3487289/17008367/7ddcedcc-4ea5-11e6-8998-4f9a52ee5cb0.png)

Original inte

[2016-07-21 01:36] craigsapp opened #253 "Optional fonts in emscripten compile"
All three music fonts are include in the emscripten compile.  It would be useful to be able to select only one so as to reduce the size of the JavaScript executable by ~25% (1 MB).

Or can this already be done manually by removing the fonts from the verovio/emscripten/data directory?

[2016-07-21 02:10] donbyrd commented on #251
Quite right, Craig. Of course there might be a dynamic on only one end of the hairpin. But more generally, recently you've pointed out a bunch of layout problems Verovio has, especially with complex music in crowded situations. In general, this problem of placing symbols to avoid what I call _perceptual collisions_ is an extremely difficult one, especially  with complex music in crowded situations

[2016-07-21 06:18] craigsapp opened #254 "non-adjacent seconds in cross staff chords"
Here is a funny corner case to fix (first one found in real music):

![screen shot 2016-07-20 at 11 17 39 pm](https://cloud.githubusercontent.com/assets/3487289/17012963/30db2c70-4ed0-11e6-8335-7e609df4b2cc.png)

The top note of the first chord in staff 1 (E4) should not be offset to the other side of the stem since the D4 note is on the other staff, and therefore not in the way (and also therefor

[2016-07-21 06:37] craigsapp opened #255 "Grace notes should not interact with the spacing on other staves"
Here is an example of grace notes on one staff changing the layout on another staff:

![screen shot 2016-07-20 at 11 34 04 pm](https://cloud.githubusercontent.com/assets/3487289/17013327/93dc7868-4ed2-11e6-9f50-33c0812b6ab8.png)

Extra space should not be added to the second staff due to the grace notes on staff 1.

MEI data for test:

[code]

[2016-07-21 06:49] lpugin commented on #251
This is mostly a poor encoding issue ;-)

Since ```@tstamp``` encodes the visual position, it should be set to a value that does not overlap with the ```dynamic``` position. With a ```@tstamp="1.45"``` for the ```haipin```, this is what I get

![image](https://cloud.githubusercontent.com/assets/689412/17013580/c00e6534-4f1f-11e6-9fee-6a3be6fb9933.png)

So one question here is: do we want Verovio t

[2016-07-21 07:18] craigsapp commented on #251
For this sort of case, I would like to start the hairpin at the same time as the sf (and end it at the same time as the pp).  When a hairpin and a dynamic start at the same time, then the hairpin will be shortened to allow for that dynamic.

It seems to me that @tstamp="1.45" is a bit of a hack: if the spacing of the music changes, the starting point of the hairpin will wander around.   If it is a

[2016-07-21 07:18] #251 closed

[2016-07-21 07:19] lpugin commented on #251
@donbyrd : if you are willing to try another layout algorithm, please have a try! I completely refactored the functors, which makes it much easier to change the code, so you should be able to keep the structure and change Page::LayOut method.

[2016-07-21 07:48] craigsapp opened #256 "Possible rounding error in rhythm processing"
In this verovio rendering:

![screen shot 2016-07-21 at 12 37 42 am](https://cloud.githubusercontent.com/assets/3487289/17014814/84f1ec8a-4edb-11e6-9b11-5b78d2ac3ba5.png)

the D-natural in the middle of the measure is not correctly aligned with the A2 in the bottom staff.  It instead comes after the A2 to which is should be aligned.

If the natural sign is removed, the rendering is correct:

![scr

[2016-07-21 08:29] lpugin commented on #256
![image](https://cloud.githubusercontent.com/assets/689412/17016134/ebc5c420-4f2d-11e6-90cd-0f282f597db6.png)

[2016-07-21 11:22] donbyrd commented on #251
Thanks, Laurent, and I'm sorry I haven't responded yet to your announcement of the refactoring.

[2016-07-21 11:57] donbyrd commented on #254
Bizarre -- especially the 2nd chord, where C4 is on the bottom staff while B3 is on the upper! I can't see why someone would do that; aside from being pointless, it makes the left hand stretch a 10th, which is pretty wide. But you saw this in real music? What music?

[2016-07-21 15:11] craigsapp commented on #254
The *first* one was in real music, the second was an artificial stress test.

Here is the source from Beethoven sonata op 26 mvmt 3:

![screen shot 2016-07-21 at 8 09 43 am](https://cloud.githubusercontent.com/assets/3487289/17027857/86a80a02-4f1a-11e6-80d3-4ce3b3ab6704.png)

[2016-07-21 16:08] donbyrd commented on #254
That makes sense, thanks.

[2016-07-21 16:10] craigsapp opened #257 "tuplet number placement on beams"
In this example music:

![screen shot 2016-07-21 at 8 49 54 am](https://cloud.githubusercontent.com/assets/3487289/17029525/6008888a-4f20-11e6-971f-997646ac3ab0.png)

The 3's indicating the triplets are not centered properly.  They should be centered visually on the tuplet, but in this example they are offset to the right for some strange reason.  Perhaps the tuplet number is initially visually ce

[2016-07-21 16:55] donbyrd commented on #248
Laurent, I agree with all your comments about placement of <dir>s and control of positioning.

Perry, I agree this discussion should be moved. Offhand, I'd say the mensural-ig mailing list makes more sense than MEI-L, but I don't feel strongly. I feel more strongly that Laurent should be the person to do it :-) . I doubt I could do a good job because I don't understand MEI's assumptions/preference

[2016-07-21 18:27] lpugin commented on #251
@donbyrd absolutely no problem. I am looking to your feedback on it.

@craigsapp : align them vertically is actually easy. The reason it is not done is more because I want to find a way not to align just all of them. This will look ugly, especially with long system we can have in responsive environments. So I was talking with @pe-ro and @kepper about different ideas to do it in MEI. I suggested to

[2016-07-21 18:32] lpugin commented on #253
The emscripten makefile copies all the ./data directory
https://github.com/rism-ch/verovio/blob/master/emscripten/build.sh#L88

You can remove them from there before the compilation. However, I would not mind having an option to be passed to the makefile to copy only selected fonts – if you want to add this ;-)

[2016-07-21 18:36] lpugin commented on #257
Relates to #218

[2016-07-21 19:04] pe-ro commented on #251
I'm still ruminating on `<dynamGrp>` so I'll leave that alone for the moment.

But I think the best way to handle dynamics between staves is to allow a new value in `@place`; that is, `<dynam place="between" staff="1 2">`.  When "between" is used, there must be exactly 2 values in `@staff` and they must be adjacent; that is, the absolute distance between them must equal "1".  Of course, Schematron

[2016-07-21 19:43] craigsapp commented on #253
What is this?  Ransomware? :-)  I fixed the MIDI pitches that way, as I got tired of listening to the same wrong notes over and over.  I will probably do that for tempo as well, but probably not motivated to pay the ransom for fixing tied notes :-).

Probably some option for pattern exclusion (or deleting files matching the pattern after being compiled) would be good.  I don't like dealing with ge

[2016-07-21 19:45] craigsapp commented on #251
That sounds good.  And switching over early so there are not two threads going on at the same time in two different repositories :-)

[2016-07-21 19:47] lpugin commented on #251
Shall I make one issue for alignment and one for the in-between placement? Or one is enough for both?

[2016-07-21 19:49] lpugin commented on #251
@pe-ro : I am also willing to see how satisfactorily we can solve the alignment algorithmically, so no rush for the ```dynamGrp```. We can think about it.

[2016-07-21 19:53] pe-ro commented on #251
@lpugin:  Making 2 separate issues is best, I think.

[2016-07-21 20:32] lpugin commented on #253
Or Patienceware ;-)

Please make a pull-request before adding anything in PERL...

[2016-07-22 02:07] craigsapp commented on #98
What does @kepper say about that? :-).

Here is another case at only an octave (from 1st edition of Haydn sonata in B-flat,  Hob.  XVI 41):

![screen shot 2016-07-21 at 7 01 21 pm](https://cloud.githubusercontent.com/assets/3487289/17044559/f3e866c4-4f75-11e6-9a42-222406dd8238.png)

http://ks.imslp.info/files/imglnks/usimg/4/41/IMSLP52559-PMLP01721-Haydn_-_Piano_Sonata_No.41__FE_.pdf

[2016-07-22 04:31] craigsapp commented on #138
This also worked for me.  The problem was indirectly related to Bootstrap.  I was using a style file generated from Bootstrap (but not Bootstrap directly).  In that file was the rule:

[code]

So the solution is to either delete that rule if you find it, or make sure that your CSS file with the correction is loaded onto the page *after* the one which contains `overflow: hidden;`.

[2016-07-22 12:37] donbyrd commented on #98
How about a case at the _unison_?

![bach_zbeam_dissfig56](https://cloud.githubusercontent.com/assets/1672175/17057316/3699fbba-4fe7-11e6-849f-8342e2aa12c4.jpg)

It certainly does _not_ look good, but, as you see, there's so little room, it's not obvious there's a better solution!

[2016-07-26 09:53] sonovice commented on #130
Sorry for reopening, but today I tried again to compile Verovio for Python x64 with VS 2015 (recommended for Python 3.5 Extensions) on Windows 10.
Here is how far I've come:
Build cmd: `python setup.py build_ext --inplace --define NO_PAE_SUPPORT`

First, all additional compiler arguments (`extra_compile_args=['-std=c++11', '-Wno-write-strings', '-Wno-overloaded-virtual', '-Wno-unused-private-field

[2016-07-26 09:54] sonovice commented on #130
Sorry for reopening, but today I tried again to compile Verovio for Python x64 with VS 2015 (recommended for Python 3.5 Extensions) on Windows 10.
Here is how far I've come:
Build cmd: `python setup.py build_ext --inplace --define NO_PAE_SUPPORT`

First, all additional compiler arguments (`extra_compile_args=['-std=c++11', '-Wno-write-strings', '-Wno-overloaded-virtual', '-Wno-unused-private-field

[2016-07-26 15:58] craigsapp commented on #98
@donbyrd: that is a good one.

Here is another example from the second half of the 19th century:

![screen shot 2016-07-26 at 8 55 26 am](https://cloud.githubusercontent.com/assets/3487289/17145431/f9769740-530e-11e6-9cef-537028da788a.png)

Compare to what happens without it:

![screen shot 2016-07-26 at 8 55 06 am](https://cloud.githubusercontent.com/assets/3487289/17145442/fff13792-530e-11e6-9ca

[2016-07-26 17:02] craigsapp commented on #257
The tuplet number placement is dependent on the stem directions.  When the stems are up, the placement is correct, when they are down, the placement is incorrect.

![screen shot 2016-07-26 at 9 39 39 am](https://cloud.githubusercontent.com/assets/3487289/17146866/ec2bbfd8-5314-11e6-9b3a-c82398344552.png)

The problem is that the tuplet number placement does not take into consideration the side of

[2016-07-26 17:50] craigsapp opened #259 "slur starting on line"
It would be preferable if the following slur did not start on a line:

![screen shot 2016-07-26 at 10 46 06 am](https://cloud.githubusercontent.com/assets/3487289/17149028/5139e8b0-531e-11e6-8ef3-70e675353ed5.png)

Perhaps a diatonic step higher on the left side would be better.

(also note the accidentals are colliding and the augmentation dot is in the wrong staff space, but those things are alr

[2016-07-26 17:59] craigsapp opened #260 "Document the vrvToolkit.getMEI() options"
It would be useful if the vrvToolkit had a `getRawMEI()` or similar function which would return the input MEI data before layout is applied to the data, so that importer's direct output can be extracted in JavaScript.  This would function similar to `vrvToolkit.getMEI()` which returns the post-layout MEI data organized by `<pages>`.

Also, the page:
    http://www.verovio.org/javascript.xhtml
does

[2016-07-27 04:18] craigsapp commented on #254
Here is a slightly different case to also consider:

![screen shot 2016-07-26 at 9 08 13 pm](https://cloud.githubusercontent.com/assets/3487289/17163543/5dc42102-5375-11e6-99df-9ba0a0b39419.png)

How it is rendered in verovio:

![screen shot 2016-07-26 at 9 10 51 pm](https://cloud.githubusercontent.com/assets/3487289/17163552/785be87e-5375-11e6-9c86-862b26a25f7f.png)

(The two half notes chords sh

[2016-07-27 16:06] donbyrd commented on #98
Yes, the center-beam version is a great deal better in your example as well. I especially like mine because it's an example of a very important phenomenon, the way crowding -- particularly vertical crowding -- makes you compromise and do something you'd never do ordinarily. Come to think, an even better example is most of the Chopin C-major Prelude, where the right hand again has three voices crow

[2016-07-29 06:45] sonovice opened #261 ""getTimeForElement" and "getElementsAtTime" not working in Python"
The two functions `getTimeForElement(xmlId)` and `getElementsAtTime(millisec)` are not working in Python (at least on Windows, don't know about POSIX).
First one always returns `0.0`, the result of the second one is empty.

[2016-07-29 12:55] raygray commented on #261
Both functions work only if Verovio is compiled with the USE_EMSCRIPTEN preprocessor definition set.

[2016-07-31 12:45] sonovice commented on #261
Thanks for clarifying. Is there a particual reason for not having it always included?

[2016-07-31 18:19] craigsapp commented on #98
Here is another test case for cross-staff beams with stems on both sides of the beams:

![screen shot 2016-07-31 at 11 09 40 am](https://cloud.githubusercontent.com/assets/3487289/17278314/54d1fa2c-570f-11e6-8439-d920ca308ee3.png)

Verovio rendering:

![screen shot 2016-07-31 at 11 15 00 am](https://cloud.githubusercontent.com/assets/3487289/17278341/0e204b00-5710-11e6-971a-41917f49d46a.png)

Also

[2016-07-31 20:43] craigsapp commented on #234
Here is another case study:

![screen shot 2016-07-31 at 1 31 03 pm](https://cloud.githubusercontent.com/assets/3487289/17279206/83ca99b0-5723-11e6-8db1-c599333b9ed7.png)

Notice that when there are mixed stems in the above example, the slur goes above the notes.  This is the standard layout in such cases, and will only be overridden by other spacing considerations.

Here is the current verovio re

[2016-07-31 23:20] craigsapp opened #262 "Partial-layer layout analysis"
In piano music it is common to have _partial layers_ where a voice pops in or out as needed.   I am presuming that the `<space>` element is used to fill out the layer to complete it, since there are no partial layers in MEI.

Here is an example of a partial layer in the first measure, bottom staff:

![screen shot 2016-07-31 at 3 06 23 pm](https://cloud.githubusercontent.com/assets/3487289/17279737

[2016-07-31 23:47] craigsapp opened #263 "Another tuplet alignment problem"
Here is some example music with a tuplet alignment problem (on the third beat in the bottom staff):

![screen shot 2016-07-31 at 4 38 37 pm](https://cloud.githubusercontent.com/assets/3487289/17280131/58e6ebb2-573d-11e6-8fee-479f72f3ff07.png)

The two layers are not aligned due almost certainly to a rounding problem in the floating-point representation of the durations.

MEI data:

[code]

Interes

[2016-08-01 05:31] craigsapp opened #264 "Support for grace chords"
The following MEI data causes a segmentation fault (11) in verovio:

[code]

The problem is caused by a grace note chord.  If the chord is made a single grace note, notation will be generated:
![screen shot 2016-07-31 at 10 20 47 pm](https://cloud.githubusercontent.com/assets/3487289/17284154/130cf750-576d-11e6-93cf-bdc18d5de3fc.png)

MEI data:

[code]

I also tried moving `@grace="acc"` to the `<